%header.entry-header
  %h1.entry-title Skicka verifieringsmailet igen
.post-title-divider
  %span
.entry-content
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    .actions
      = f.submit 'Skicka igen'
  = render 'devise/shared/links'
