%header.entry-header
  %h1.entry-title Redigera användare
.post-title-divider
  %span
.entry-content.wpcf7
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'wpcf7-form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Obekräftad mailadress för: #{resource.unconfirmed_email}
    .field
      = f.label :password, 'Lösenord'
      %i (lämna tomt om du inte vill byta)
      %br/
      = f.password_field :password, autocomplete: 'off', class: 'wpcf7-form-control'
      - if @minimum_password_length
        %em
          (minst #{@minimum_password_length} tecken)
    .field
      = f.label :password_confirmation, 'Bekräfta lösenord'
      %br/
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'wpcf7-form-control'
    .field
      = f.label :current_password, 'Nuvarande lösenord', class: 'required'
      %i (behövs för att spara ändringar)
      %br/
      = f.password_field :current_password, autocomplete: 'off', class: 'wpcf7-form-control'
    .actions
      = f.submit 'Uppdatera'
  = render 'required_fields'

  %h1.entry-title Avregistrera dig
  .post-title-divider
    %span
  %p
    #{button_to 'Ta bort mitt konto', registration_path(resource_name), data: { confirm: 'Är du säker' }, method: :delete}
  = link_to 'Tillbaks', :back
