%header.entry-header
  %h1.entry-title Redigera #{resource_name.to_s.humanize}
.post-title-divider
  %span
.entry-content.wpcf7
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: 'wpcf7-form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, autocomplete: 'off', class: 'wpcf7-form-control'
      - if @minimum_password_length
        %em
          (minst #{@minimum_password_length} tecken)
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'wpcf7-form-control'
    .field
      = f.label :current_password, class: 'required'
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: 'off', class: 'wpcf7-form-control'
    .actions
      = f.submit 'Uppdatera'
  = render partial: 'partials/required_fields'

  %h1.entry-title Redigera #{resource_name.to_s.humanize}
  .post-title-divider
    %span
  %p
    Unhappy? #{button_to 'Ta bort mitt konto', registration_path(resource_name), data: { confirm: 'Är du säker' }, method: :delete}
  = link_to 'Tillbaks', :back
