- provide :signoff do
  = render 'shf_application_mailer/signoff'

= t('application_mailer.user.accepted.message_text.youre_active')  + edit_company_url(@member_app.company)
\
= t('application_mailer.user.accepted.message_text.access_fb_group')
= t('shf_facebook_group_url')
\
= t('application_mailer.user.accepted.message_text.and_member_pages') + t('shf_medlemssystem_url')
