%p= t('devise.mailer.reset_password_instructions.reset_requested')

%p= link_to t('devise.mailer.reset_password_instructions.change_password'),
            edit_password_url(@resource, reset_password_token: @token)

%p= t('devise.mailer.reset_password_instructions.ignore')

%p= t('devise.mailer.reset_password_instructions.follow_link')

%p= t('devise.mailer.reset_password_instructions.copy_paste_link', change_password_link: edit_password_url(@resource, reset_password_token: @token))
