= t('devise.mailer.reset_password_instructions.reset_requested')
= '   ' + edit_password_url(@resource, reset_password_token: @token)
\
= t('devise.mailer.reset_password_instructions.ignore')
= t('devise.mailer.reset_password_instructions.follow_link')
\
= t('devise.mailer.reset_password_instructions.copy_paste_link', change_password_link: edit_password_url(@resource, reset_password_token: @token))
