%header.entry-header
  %h1.entry-title= t('.title', user: @user.full_name)

.entry-content.container

  = form_for(@user, url: admin_only_user_profile_update_path(@user), html: { method: :put }) do |f|
    != model_errors_helper(@user)

    = render partial: 'devise/shared/member_photo', locals: { user: @user, f: f }

    %h3= t('devise.registrations.edit.info_header')
    .row
      .form-group.col-sm
        = f.label :first_name
        = f.text_field :first_name, placeholder: "#{t('activerecord.attributes.user.first_name')}", class: 'form-control'
      .form-group.col-sm
        = f.label :last_name
        = f.text_field :last_name, placeholder: "#{t('activerecord.attributes.user.last_name')}", class: 'form-control'
    .row
      .form-group.col-sm
        = f.label :email
        = f.email_field :email, placeholder: "#{t('activerecord.attributes.user.email')}", class: 'form-control'
      .form-group.col-sm
        = f.fields_for :shf_application do |app_form|
          = app_form.label :contact_email
          = app_form.email_field :contact_email, placeholder: "#{t('activerecord.attributes.shf_application.contact_email')}", class: 'form-control'
    .row
      .form-group.col-sm
        = f.label :membership_number
        = f.text_field :membership_number,  class: 'form-control'
      %br
      %br
    %h3= t('devise.registrations.edit.password_header')
    %small.form-text.text-muted= t('devise.registrations.edit.leave_blank_if_no_change')
    .row
      .form-group.col-sm
        = f.label :password
        = f.password_field :password, autocomplete: 'off',
                           placeholder: "#{t('devise.registrations.edit.new_password')}",
                           class: 'form-control'
        %small= render 'devise/shared/min_password_length_info'
      .form-group.col-sm
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: 'off',
                           placeholder: "#{t('devise.registrations.edit.confirm_password')}",
                           class: 'form-control'

    .row
      .col
        = f.submit "#{t('devise.registrations.edit.submit_button_label')}",
                   class: 'btn btn-primary form-control m-2'

  %hr
  .text-center
    = link_to t('.become_this_user'), admin_only_become_user_path(@user),
              class: 'btn btn-sm btn-light'
