- if user.member?
  %h3
    = t('devise.registrations.edit.member_photo.pic_header') unless current_user.admin?
  .row
    .form-group.col-sm
      = image_tag(user.member_photo.url(:standard))
      - if user.member_photo
        .clearfix.m-3
        = user.member_photo_file_name
      .clearfix
      .field
        = f.file_field :member_photo, accept: 'image/png, image/jpeg', class: 'btn btn-light'

    .form-group.col-sm
      %p= t('users.update.member_photo.reason')
      %p= t('users.update.member_photo.format')
      %p
      - if user.member_photo?
        = t('users.update.member_photo.replace')
      - else
        = t('users.update.member_photo.upload')
