-# Local vars -
  business_category: the BusinessCategory instance
  record_type: 'new_category' or 'existing_category' (can be parent or child (sub))
  context: 'category' or 'subcategory'
  parent_cat_id: ID of the parent category for a subcategory

%tr.category-edit-row{ id: "category-edit-row-#{business_category.id}" }

  %td{ colspan: 6 }

    #category-edit-errors

    = form_for business_category, remote: true,
               html: { class: 'edit-category-form' } do |f|

      %table.table.border.border-dark
        %thead
          %tr
            %th.center-text{ colspan: 4 }
              :ruby
                key = 'business_categories.index.'
                key += record_type == 'new_category' ? 'add_' : 'edit_'
                key += context
              = t(key)
        %tbody
          %tr
            %td
              .form-group
                = f.label :name, t('.name') , class: 'required'
                = f.text_field :name, class: 'form-control'
          %tr
            %td{ colspan: 4 }
              .form-group
                = f.label :description, t('.description')
                = f.text_field :description, class: 'form-control'
            %td
              = hidden_field_tag :parent_cat_id, parent_cat_id
          %tr
            %td{ colspan: 4 }
              :ruby
                # @todo validate URL format
                # @todo tooltip that explains that this is exactly what the applicants will see, so be sure it's accurate
              .form-group
                = f.label :apply_qs_url, t('.apply_qs_url')
                = f.text_field :apply_qs_url, class: 'form-control'

          %tr
            %td
              .text-center
                - btn_classes = 'btn btn-sm'
                = f.submit t('save'), class: "#{btn_classes} btn-success"

                - if record_type == 'existing_category'
                  = link_to t('cancel'),
                            get_display_row_business_category_path(business_category),
                            remote: true,
                            class:  "#{btn_classes} edit-category-cancel-button btn-danger",
                            id: "cancel-category-edit-#{business_category.id}"
                - else
                  = link_to t('cancel'), {}, href: '#',
                            class:  "#{btn_classes} new-category-cancel-button btn-danger"
