= form_for @business_category do |f|
  - if @business_category.errors.any?
    .wpcf7-response-output
      - @business_category.errors.full_messages.each do |msg|
        = msg

  = f.label :name, t('business_categories.form.category_name'), class: 'required'
  = f.text_field :name, class: 'wpcf7-form-control'

  = f.label :description, t('business_categories.form.category_description')
  = f.text_field :description, class: 'wpcf7-form-control'

  = f.submit t('business_categories.form.save')
