-# @fixme is this used anymore? Seems javascript pop-up is used on the index page
= form_for @business_category do |f|

  != model_errors_helper(@business_category)
  .form-group
    = f.label :name, t('.name') , class: 'required'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description, t('.description')
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :apply_qs_url, t('.apply_qs_url')
    = f.text_field :apply_qs_url, class: 'form-control'
  .form-group
    = f.submit t('business_categories.form.save'), class: 'btn btn-primary mb-2 form-control'
