%header.entry-header
  %h1.entry-title Business Categories
.post-title-divider
  %span
.entry-content
  %table#business_categories
    %thead
      %tr
        %th Name
        %th Description
        %th
        %th
        %th
    %tbody
      - @business_categories.each do |business_category|
        %tr.business_category
          %td= business_category.name
          %td= business_category.description
          %td= link_to 'Visa', business_category
          %td= link_to 'Redigera', edit_business_category_path(business_category)
          %td= link_to 'Ta bort', business_category, method: :delete, data: { :confirm => 'Are you sure?' }
  %br
  .center
    = link_to 'Skapa ny företagstyp (kategori)', new_business_category_path
