%header.entry-header
  %h1.entry-title= 'Företagstyp: ' "#{@business_category.name}"
.post-title-divider
  %span
.entry-content
  %p
    %b Namn:
    = @business_category.name
  %p
    %b Beskrivning:
    = @business_category.description
.center
  = link_to 'Redigera', edit_business_category_path(@business_category)
  \|
  = link_to 'Alla kategorier', business_categories_path
