- provide :signoff do
  = render 'application_mailer/signoff'

= render layout: 'layouts/mail_from_membership' do

  %p= t('mailers.member_mailer.first_membership_fee_owed.message_text')

  %p.login-instructions= t('mailers.member_mailer.login_to_fix')
  = render 'mailers_shared/login_here_with_email', email: @recipient_email

  = render 'mailers_shared/how_to_pay_membership', user: @user
