- provide :signoff do
  = render 'application_mailer/signoff'

- message_scope = 'mailers.member_mailer.h_branding_fee_past_due.message_text'

= render layout: 'layouts/mail_from_membership' do

  %p
    = t('fee_is_unpaid', scope: message_scope, company_name: @company.name )

  %p
    = t('how_to_pay_fee', scope: message_scope)

  %p
    = t('account_login_html', scope: message_scope,
        account_link: link_to(t('menus.nav.users.your_account'), user_url(@member)))
