- provide :signoff do
  = render 'application_mailer/signoff'

- message_scope = 'mailers.member_mailer.membership_lapsed.message_text'

= render layout: 'layouts/mail_from_membership' do
  %p
    = t('expire_alert_html', scope: message_scope, expire_date: @expire_date)

  %p
    = t('renew_membership', scope: message_scope)

  %p
    = t('pay_on_acct_page', scope: message_scope)
    = render 'user_account_link', member: @member
