- provide :signoff do
  = render 'application_mailer/signoff'

- message_scope = 'mailers.member_mailer.membership_lapsed.message_text'

= render layout: 'layouts/mail_from_membership' do
  %p= t('expire_alert_html', scope: message_scope, expire_date: @expire_date)

  %p= t('renewal_reqs', scope: message_scope, expire_date: @expire_date)

  %p.login-instructions= t('mailers.member_mailer.login_to_fix')
  = render 'mailers_shared/login_here_with_email', email: @recipient_email

  = render 'mailers_shared/how_to_pay_membership', user: @member
