.scroll-to-top
  %a{href: '#'}
    = icon('angle-up')
.container-fluid.hfeed.site
  %header#masthead.site-header{role: 'banner'}
    %a.skip-link.screen-reader-text{href: '#content'} Skip to content
    / main navigation
    %nav#site-navigation.main-navigation.fixed-nav{role: 'navigation'}
      .nav-wrapper
        %a.menu-toggle{href: '#'}
          %span.bars
            %span.bar.bar-1
            %span.bar.bar-2
            %span.bar.bar-3
        -# Visitor navigation
        - unless current_user
          #menu-menu-1-container.menu
            %ul#menu-menu-1.menu
              %li.menu-item
                = link_to 'Hem', 'http://sverigeshundforetagare.se/'
              %li.menu-item
                = link_to 'Broschyr', 'http://sverigeshundforetagare.se/broschyr/'
              %li.menu-item.menu-item-has-children
                = link_to 'Hundägare', 'http://sverigeshundforetagare.se/agare/'
                %ul.sub-menu
                  %li.menu-item
                    = link_to 'Om oss', 'http://sverigeshundforetagare.se/agare/om-sveriges-hundforetagare/'
                  %li.menu-item
                    = link_to 'H-märket', 'http://sverigeshundforetagare.se/agare/h-markt-av-sveriges-hundforetagare/'
                  %li.menu-item
                    = link_to 'Kunskapsbank', 'http://sverigeshundforetagare.se/category/kunskapsbank-hundagare/'
                  %li.menu-item
                    = link_to 'Är du inte nöjd?', 'http://sverigeshundforetagare.se/agare/ar-du-inte-nojd/'
                  %li.menu-item
                    = link_to 'Bli stödmedlem', 'http://sverigeshundforetagare.se/agare/bli-stodmedlem/'
                  %li.menu-item
                    = link_to 'Att vara hundägare', 'http://sverigeshundforetagare.se/agare/att-vara-hundagare/'
              %li.menu-item.menu-item-has-children
                = link_to 'Hundföretagare', 'http://sverigeshundforetagare.se/foretag/'
                %ul.sub-menu
                  %li.menu-item
                    = link_to 'Om oss', 'http://sverigeshundforetagare.se/foretag/om-sveriges-hundforetagare/'
                  %li.menu-item
                    = link_to 'Bli medlem', 'http://sverigeshundforetagare.se/agare/om-ansokan/'
                  %li.menu-item
                    = link_to 'Bli H-märkt', 'http://sverigeshundforetagare.se/foretag/bli-h-markt/'
                  %li.menu-item
                    = link_to 'Medlemskriterier', 'http://sverigeshundforetagare.se/medlemskriterier/'
                  %li.menu-item
                    = link_to 'Medlemsförmåner', 'http://sverigeshundforetagare.se/foretag/detta-far-du-som-medlem/'
                  %li.menu-item
                    = link_to 'Kvalitetskontroll', 'http://sverigeshundforetagare.se/foretag/kvalitetskontroll/'
                  %li.menu-item
                    = link_to 'Kunskapsbank', 'http://sverigeshundforetagare.se/category/kunskapsbank-foretagare/'
              %li.menu-item.menu-item-has-children
                = link_to 'Kunskapsbank', '.'
                %ul.sub-menu
                  %li.menu-item
                    = link_to 'Bloggar', 'http://sverigeshundforetagare.se/category/bloggar/'
                  %li.menu-item
                    = link_to 'Böcker', 'http://sverigeshundforetagare.se/category/bocker/'
                  %li.menu-item
                    = link_to 'Forskning', 'http://sverigeshundforetagare.se/category/forskning/'
                  %li.menu-item
                    = link_to 'Pod', 'http://sverigeshundforetagare.se/category/pod/'
                  %li.menu-item
                    = link_to 'Populärvetenskap', 'http://sverigeshundforetagare.se/category/popularvetenskap/'
                  %li.menu-item
                    = link_to 'Video', 'http://sverigeshundforetagare.se/category/video/'
              %li.menu-item
                = link_to 'Kontakt', 'http://sverigeshundforetagare.se/kontakt/'
              %li.menu-item
                = link_to 'Hitta hundföretagare', root_path
        - if current_user && !current_user.try(:admin)
          #menu-menu-2-container
            %ul#menu-menu-2.menu
              %li.menu-item
                = link_to 'SHF-sajten', 'http://sverigeshundforetagare.se/'
              %li.menu-item
                = link_to 'Broschyr', 'http://sverigeshundforetagare.se/broschyr/'
              %li.menu-item.menu-item-has-children
                = link_to 'Hundägare', 'http://sverigeshundforetagare.se/agare/'
                %ul.sub-menu
                  %li.menu-item
        - if current_user && current_user.try(:admin)
          #menu-menu-3-container
            %ul#menu-menu-3.menu
              %li.menu-item
                = link_to 'SHF-sajten', 'http://sverigeshundforetagare.se/'
              %li.menu-item.menu-item-has-children
                = link_to 'Hantera ansökningar', '#'
                %ul.sub-menu
                  %li.menu-item
                    = link_to 'testar drop down', ''
