= render 'partials/navigation'
/ Social profiles
.social-nav
  .tb
    .tb-cell
      %a.social-nav-facebook{ href: 'http://www.facebook.com/sverigeshundforetagare', target:'_blank' }
        = icon('facebook')
      %a.social-nav-twitter{ href: 'http://www.twitter.com/sverigeshundftg', target:'_blank' }
        = icon('twitter')
      %a.social-nav-instagram{ href: 'http://www.instagram.com/sverigeshundforetagare', target:'_blank' }
        = icon('instagram')
      %a.social-nav-linkedin{ href: 'http://www.linkedin.com/sverigeshundforetagare', target:'_blank' }
        = icon('linkedin')
      %a.social-nav-youtube{ href: 'http://www.google.com/sverigeshundforetagare', target:'_blank' }
        = icon('youtube')
      = render 'partials/login_items'
- unless current_user.try(:admin)
  #site-logo
    %a{ href: 'http://sverigeshundforetagare.se/' }
      %img{ alt: 'logo', src: 'http://media.sverigeshundforetagare.se/2016/10/SH_logo_RGB.png' } /
