#admin-change-status-buttons
  %p.header
    = "#{t('membership_applications.show.change_status')}:"


  = button_to t('membership_applications.start_review'), start_review_membership_application_path(@membership_application), {class: 'btn start-review', disabled: !(@membership_application.may_start_review?)}

  = button_to t('membership_applications.accept'), accept_membership_application_path(@membership_application), {class: 'btn accept', disabled: !(@membership_application.may_accept?)}

  = button_to t('membership_applications.reject'), reject_membership_application_path(@membership_application), {class: 'btn reject', disabled: !(@membership_application.may_reject?)}

  = button_to t('membership_applications.ask_applicant_for_info'), need_info_membership_application_path(@membership_application), {class: 'btn need-info', disabled: !(@membership_application.may_ask_applicant_for_info?)}

  = button_to t('membership_applications.cancel_waiting_for_applicant'), cancel_need_info_membership_application_path(@membership_application), {class: 'btn cancel-need-info', disabled: !(@membership_application.may_cancel_waiting_for_applicant?)}

%br
  - if !@membership_application.paid?
    %p= t('membership_applications.show.waiting_for_payment')
