= f.label :first_name, 'First Name'
= f.text_field :first_name, class: 'wpcf7-form-control'

= f.label :last_name, 'Last Name'
= f.text_field :last_name, class: 'wpcf7-form-control'

= f.label :company_number, 'Company Number'
= f.number_field :company_number, class: 'wpcf7-form-control'

- unless @business_categories.nil?
  %p Applying as:
  = f.collection_check_boxes :business_category_ids, @business_categories, :id, :name do |b|
    = b.check_box + b.label

= f.label :contact_email, 'Contact Email'
= f.email_field :contact_email, class: 'wpcf7-form-control'

= f.label :phone_number, 'Phone Number'
= f.telephone_field :phone_number, class: 'wpcf7-form-control'

= f.submit 'Submit'