= f.label :first_name, 'First Name', class: 'required'
= f.text_field :first_name, class: 'wpcf7-form-control'

= f.label :last_name, 'Last Name', class: 'required'
= f.text_field :last_name, class: 'wpcf7-form-control'

= f.label :company_number, 'Company Number', class: 'required'
= f.number_field :company_number, class: 'wpcf7-form-control'

= f.label :contact_email, 'Contact Email', class: 'required'
= f.email_field :contact_email, class: 'wpcf7-form-control'

= f.label :phone_number, 'Phone Number'
= f.telephone_field :phone_number, class: 'wpcf7-form-control'

- unless @business_categories.nil?
  %h3 Ansöker som:
  = f.collection_check_boxes :business_category_ids, @business_categories, :id, :name do |b|
    .checkbox
      = b.check_box(class: 'text-nicelabel', position_class: 'text_checkbox') + b.label
  %p Blå fält = valda kategorier
= f.submit 'Submit'