#membership_applications_list
  %table
    %thead
      %tr
        %th
          = sort_link(@search_params, :last_name,
                      t('membership_applications.index.name'), {},
                      { class: 'applications_pagination', remote: true })
        %th
          = sort_link(@search_params, :company_number,
                      t('membership_applications.index.org_nr'), {},
                      { class: 'applications_pagination', remote: true })
        %th
          = sort_link(@search_params, :state,
                      t('membership_applications.index.state'), {},
                      { class: 'applications_pagination', remote: true })
        %th
    %tbody
      - @membership_applications.each do |membership_application|
        %tr.applicant
          %td.name= link_to "#{membership_application.user.last_name + ', ' + membership_application.user.first_name}", membership_application_path(membership_application.id)
          %td.company_number= membership_application.company_number
          %td.state= t("membership_applications.state.#{membership_application.state}")
          %td.action= link_to "#{t('manage')}", membership_application_path(membership_application.id)

  = render partial: 'application/paginate_footer',
           locals: { entities: @membership_applications,
                     paginate_class: 'applications_pagination',
                     items_count: @items_count,
                     url: membership_applications_path }
