= f.label :company_name, 'Company Name', class: 'req'
= f.text_field :company_name, class: 'wpcf7-form-control'

= f.label :company_number, 'Company Number', class: 'req'
= f.number_field :company_number, class: 'wpcf7-form-control'

= f.label :contact_person, 'Contact Person', class: 'req'
= f.text_field :contact_person, class: 'wpcf7-form-control'

= f.label :company_email, 'Company Email', class: 'req'
= f.email_field :company_email, class: 'wpcf7-form-control'

= f.label :phone_number, 'Phone Number'
= f.telephone_field :phone_number, class: 'wpcf7-form-control'

= f.submit 'Submit'