- if current_user.admin? && @membership_application.is_accepted?
  = f.label :membership_number, t('membership_applications.show.membership_number'), class: 'required'
  = f.text_field :membership_number, class: 'wpcf7-form-control'

= f.label :first_name, t('membership_applications.show.first_name'), class: 'required'
= f.text_field :first_name, class: 'wpcf7-form-control'

= f.label :last_name, t('membership_applications.show.last_name'), class: 'required'
= f.text_field :last_name, class: 'wpcf7-form-control'

= f.label :company_number, t('membership_applications.show.company_number'), class: 'required'
= f.number_field :company_number, class: 'wpcf7-form-control'
%em= t('companies.org_nr_no_hyphens')
%br

= f.label :contact_email, t('membership_applications.show.contact_email'), class: 'required'
= f.email_field :contact_email, class: 'wpcf7-form-control'
%em= t('membership_applications.new.can_be_same_email')
%br

= f.label :phone_number, t('membership_applications.show.phone_number')
= f.telephone_field :phone_number, class: 'wpcf7-form-control'

- unless assocation_empty?(@all_business_categories)
  %h3= t('membership_applications.new.application_dog_category')
  %p= t('membership_applications.new.clue_selected_categories')
  .checkbox
    = f.collection_check_boxes :business_category_ids, @all_business_categories, :id, :name do |b|
      = b.check_box(class: 'text-nicelabel', position_class: 'text_checkbox') + b.label

#uploaded_files
  = render 'uploaded_files_list', membership_application: @membership_application

%p= t('membership_applications.new.upload_a_file')
%em= t('membership_applications.new.upload_more_files')
= f.file_field 'actual_files[]', multiple: true, name: 'uploaded_file[actual_files][]'


- if @membership_application.may_is_ready_for_review?
  = render 'ready_for_review', f: f
