%div{ :id => "#{unique_css_id(@membership_application)}", class: "#{item_view_class(@membership_application, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= t('.title')
  .post-title-divider
    %span
  .entry-content.instructions= t('membership_applications.new.instructions')

  .entry-content.wpcf7

    = render 'membership_number'

    = form_for @membership_application, html: {multipart: true}, url: membership_application_path do |f|

      != model_errors_helper(@membership_application)

      = render partial: 'membership_application_fields', locals: {f: f}
      = render 'application/required_fields'
      = f.submit t('.submit_button_label')
