%header.entry-header
  %h1.entry-title= t('.title')
.post-title-divider
  %span
.entry-content
  %p{ style: 'margin-bottom: 30px;' }
    %button.btn.btn-success.btn-xs.pull-right{ id: 'toggle_search_form',
                                      href: '#application_search_form',
                                      style: 'color:black; text-transform:none;' }
      #{t('toggle.application_search_form.hide')}

  .clearfix

  .panel.panel-default{ style: 'padding-left: 5px; padding-right: 5px;',
                    id: 'application_search_form' }
    = render 'search_form'

  - if @membership_applications.empty?
    %strong
      #{t('.no_search_results')}
  - else
    = render partial: 'membership_applications_list'
