%header.entry-header
  %h1.entry-title= t('.title')
  .post-title-divider
    %span
.entry-content
  - if current_user.is_member?
    %h2
      = t('.member.title')
      = current_user.first_name
    %p= t('.member.using_the_logo')
    %p "#{t('.member.upload_this_image')} http://www.sverigeshundforetagare.se"
    = image_tag('medlem.png')
    %p
    %p "#{t('.member.using_the_h_mark')} http://sverigeshundforetagare.se/agare/h-markt-av-sveriges-hundforetagare/"
    = image_tag('h-marke.png')
  - else
    %h2= t('.user.title')
    -# %p #{t('.user.how_to_apply', link: link_to 'hit', new_membership_application_path)}
    %p= t('.user.once_it_is_submitted')
    %p= t('.user.when_we_decide')
