%header.entry-header
  %h1.entry-title= "Ansökan från #{@membership_application.company_name}"
.post-title-divider
  %span
.entry-content
  %h1= @membership_application.company_number
  %h2= @membership_application.contact_person
  - if @membership_application.phone_number
    %p= @membership_application.phone_number
  %p= mail_to @membership_application.company_email, @membership_application.company_email
