%header.entry-header
  %h1.entry-title Ansökan från #{member_full_name}
.post-title-divider
  %span
.entry-content

  %h2= member_full_name

  = render 'membership_number'

  %p= mail_to @membership_application.contact_email, @membership_application.contact_email

  - if @membership_application.phone_number
    %p Phone number: #{@membership_application.phone_number}

  %p Company Number: #{@membership_application.company_number}

  - unless assocation_empty?(@categories)
    %h4 Ansöker inom:
    %strong
      %ul
        - @categories.each do | business_category |
          %li= business_category.name

  .post-title-divider
    %span

  #uploaded_files
    = render 'uploaded_files_list', membership_application: @membership_application
  - if edit_status?
    = render partial: 'application_status_form'
  %p Status: #{@membership_application.status} - #{@membership_application.updated_at.strftime('%F')}

  - if current_user && current_user.admin?
    = link_to 'Redigera ansökan', edit_membership_application_path(@membership_application)
