%header.entry-header
  %h1.entry-title= t('.title', member_full_name: member_full_name)
.post-title-divider
  %span
.entry-content

  %h2= member_full_name

  = render 'membership_number'

  %p= mail_to @membership_application.contact_email, @membership_application.contact_email

  - if @membership_application.phone_number
    %p #{t('.phone_number')}: #{@membership_application.phone_number}

  %p #{t('.company_number')}: #{@membership_application.company_number}

  - unless assocation_empty?(@categories)
    %h4 #{t('.with_categories')}:
    %strong
      %ul
        - @categories.each do | business_category |
          %li= business_category.name

  .post-title-divider
    %span

  #uploaded_files
    = render 'uploaded_files_list', membership_application: @membership_application
  - if edit_status?
    = render partial: 'application_status_form'
  %p #{t('.app_status')}: #{@membership_application.status} - #{@membership_application.updated_at.strftime('%F')}

  - if current_user && current_user.admin?
    = link_to "#{t('membership_applications.edit_membership_application')}", edit_membership_application_path(@membership_application), class:'btn btn-warning'
    = link_to "#{t('.delete')}", @membership_application, method: :delete, class:'btn btn-danger', data: { confirm: "#{t('.confirm_are_you_sure')}" }
