%header.entry-header
  %h1.entry-title Ansökan från #{@membership_application.first_name} #{@membership_application.last_name}
.post-title-divider
  %span
.entry-content
  %h1= @membership_application.company_number
  - if @membership_application.phone_number
    %p= @membership_application.phone_number
  %p= mail_to @membership_application.contact_email, @membership_application.contact_email

  Application Status:
  - if edit_status?
    = render partial: 'application_status_form'

  %p Membership #{@membership_application.status.downcase} at #{@membership_application.updated_at.strftime('%F')}
