%header.entry-header
  %h1.entry-title= "Ansökan från #{@membership_application.company_name}"
.post-title-divider
  %span
.entry-content
  %h1= @membership_application.company_number
  %h2= @membership_application.contact_person
  - if @membership_application.phone_number
    %p= @membership_application.phone_number
  %p= mail_to @membership_application.company_email, @membership_application.company_email
  .wpcf7
    = form_for @membership_application, url: membership_application_path do |f|
      = f.select(:status, [['Pending', 'Pending'],
                           ['Accepted', 'Accepted'],
                           ['Rejected', 'Rejected']])
      = f.submit 'Update', class: 'wpcf7-submit'
      - if @membership_application.status == 'Accepted'
        %p Membership accepted at #{@membership_application.updated_at.strftime('%F')}
      - if @membership_application.status == 'Rejected'
        %p Membership rejected at #{@membership_application.updated_at.strftime('%F')}