%header.entry-header
  %h1.entry-title Ansökan från #{member_full_name}
.post-title-divider
  %span
.entry-content

  %h2= member_full_name

  %p= mail_to @membership_application.contact_email, @membership_application.contact_email

  - if @membership_application.phone_number
    %p Phone number: #{@membership_application.phone_number}

  %p Company Number: #{@membership_application.company_number}

  - unless @membership_application.business_categories.nil?
    %h4 Ansöker som:
    - @membership_application.business_categories.each do | business_category |
      .checkbox.business_category
        = business_category.name


    %p Blå fält = valda kategorier

  %hr

  Application Status:
  - if edit_status?
    = render partial: 'application_status_form'

  %p Membership #{@membership_application.status.downcase} at #{@membership_application.updated_at.strftime('%F')}
