.modal.fade#editStatusModal{ tabindex: '-1', role: 'dialog' }
  .modal-dialog{ role: 'document' }
    .modal-content

      = form_for user, url: edit_status_user_path(user),
                 method: :put, remote: true,
                 html: { id: 'userStatusForm' } do |f|
        .modal-header
          %h4.modal-title.text-center
            = t('users.user.edit_member_status')
          %button.close{ type: 'button', data: { dismiss: 'modal' } }
            %span{ 'aria-hidden' => 'true' } &times;
            
        .modal-body
          .container-fluid
            %label
              #{t('users.show.member')}?
            %br
            = f.collection_radio_buttons(:member,
                                             boolean_radio_buttons_collection,
                                             :first, :second, {}) do |rb|

              = rb.label(class: 'form-check form-check-inline') do
                = rb.radio_button + ' ' + rb.text  + ' '
          
            %hr
            = fields_for :payment, user.most_recent_membership_payment do |pf|
              %label #{t('activerecord.attributes.payment.expire_date')}:
              = pf.date_select(:expire_date,
                               { start_year: Time.current.year,
                                 end_year: Time.current.year + 2},
                               { class: 'form-control select-box form-control-sm' })
              %hr
              = pf.label :notes,
                         "#{t('activerecord.attributes.payment.notes')}:"
              = pf.text_area :notes, class: 'form-control'

        .modal-footer
          = f.submit t('users.user.submit_button_label'), class: "btn btn-sm btn-primary",
                     id: 'editUserStatusSubmit'

          %button(type='button' class='btn btn-sm btn-default' data-dismiss='modal')
            = t('cancel')


