-# This partial expects these locals:
-#
-#  user - the user the membership guidelines checklist belongs to

- if UserChecklistManager.completed_membership_guidelines_checklist?(user)
  %p
    = complete_check_icon(html_options: {class: 'is-complete'})
    = t('.agreed_to') + ' '
    = link_to  'https://sverigeshundforetagare.se/medlemsatagande/', target: '_blank' do
      = t('.membership_guidelines')
      %sup= external_link_icon
- else
  - user_checklist = UserChecklistManager.find_or_create_membership_guidelines_list_for(user).root
  - first_incomplete = UserChecklistManager.first_incomplete_membership_guideline_section_for(user)
  = link_to t('.agree_to_guidelines'), user_user_checklist_progress_path(user, first_incomplete), class: 'btn btn-sm btn-primary'

  - progress_percent = user_checklist.percent_complete
  .completed-progress-bar
    = render partial: 'shared/progress_bar', locals: {  percent_complete: progress_percent }
