#userMemberStatus
  .row.mt-2
    - if defined?(error) && error
      .alert.alert-danger= error

    .col-md
      - is_member = user.member? ? 'Yes' : 'No'
      = field_or_none("#{t('users.show.member')}", "#{t(is_member)}",
                      label_class: 'standard-label',
                      value_class: is_member)
    .col-md
      = expire_date_label_and_value(user)

    .col-md
      - link = pay_member_fee_link(user)
      - if link
        = link
        = fas_tooltip(t('users.show.pay_membership_tooltip'))

  - if current_user.admin?
    .row.mt-2
      .col-md-8.admin-note
        = payment_notes_label_and_value(user)

      .col-md-4
        -# NOTE: Capybara cannot find link without 'href' attribute
        %a.btn.btn-outline-success.btn-sm(href='#' data-toggle='modal' data-target='#editStatusModal')
          = t('users.user.edit_member_status')
