= form_for(@user,  html: {class: 'form-horizontal edit-user admin-set-password'}) do |f|

  .form-row.mt-3
    .col-sm
      = f.label :password, "#{t('users.show.new_password')}", class: 'required control-label'
      = f.text_field :password, autocomplete: 'off',  class: 'form-control'

    .col-sm
      = f.label :password_confirmation, "#{t('users.show.re_enter_new_password')}", class: 'required control-label'
      = f.text_field :password_confirmation, autocomplete: 'off',  class: 'form-control '

  %p.new-password-warn.mt-2
    = t('users.show.please_note_new_password')

    = submit_tag( :submit, value: "#{t('users.show.submit_new_password')}", class: 'btn btn-primary form-control mt-2', data: { confirm: "#{t('users.show.confirm_reset_password')}"})
