%html
  %head
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'
    = stylesheet_link_tag 'proof-of-membership', media: 'all'
  %body

    - render_to = :html unless local_assigns[:render_to]

    .custom-context#proof-of-membership
      - if app_config.shf_logo
        = image_tag(paperclip_path_str(app_config.shf_logo, :standard, render_to),
                    class: 'shf-logo')

      %p.proof-banner
        BEHÖRIGHETSBEVIS

      .member-photo-div
        - if user.member_photo
          = image_tag(paperclip_path_str(user.member_photo, :standard, render_to),
                      class: 'member-photo')

      %p.member-info
        %span.member-name
          = user.full_name
        %br
        - if user.membership_current?

          Medlemsnr.:
          %span.membership-number
            #{user.membership_number}
          %br

          #{list_app_categories(user.shf_application)}

          %br
          %span.issued-by
            Utfärdat av:
          %br
          - if app_config.chair_signature
            = image_tag(paperclip_path_str(app_config.chair_signature,
                                       :standard, render_to))
          %br
          Giltigt till #{user.membership_expire_date}
          %br
          -# Kategorier: #{list_app_categories(user.shf_application)}
        - else
          Medlemskapet löpte ut

      %p.proof-footer
        sverigeshundforetagare.se

    - if render_to == :html && context == :internal
      %div
        %br
        = t('users.show.image_dimensions_html', width_id: 'pom-width',
            height_id: 'pom-height')
        %br
        %br
        = t('users.show.use_this_image_link_html')
        = short_proof_of_membership_url(user)

      :javascript
        window.onload = function(){
          var image = document.getElementById('proof-of-membership');

          if (image !== undefined) {
            document.getElementById('pom-width').textContent = image.offsetWidth;
            document.getElementById('pom-height').textContent = image.offsetHeight;
          }
        };
