%html
  %head
    = stylesheet_link_tag 'proof-of-membership', media: 'all'
  %body
    #proofOfMembership

      - render_to = :html unless local_assigns[:render_to]

      .parent-div
        - if app_config.shf_logo
          = image_tag(paperclip_path(app_config.shf_logo, :standard, render_to),
                      class: 'shf-logo')

        %p.proof-banner
          BEHÖRIGHETSBEVIS

        .member-photo-div
          - if user.member_photo
            = image_tag(paperclip_path(user.member_photo, :standard, render_to),
                        class: 'member-photo')

        %p.member-info
          = user.full_name
          %br
          - if user.membership_current?
            = "Medlemsnr.: #{user.membership_number}"
            %br
            Utfärdat av:
            %br
            - if app_config.chair_signature
              = image_tag(paperclip_path(app_config.chair_signature,
                                         :standard, render_to))
            %br
            = "Giltigt till #{user.membership_expire_date}"
            %br
            = "Kategorier: #{list_app_categories(user.shf_application)}"
          - else
            Medlemskapet löpte ut

        %p.proof-footer
          sverigeshundforetagare.se
