= search_form_for @q, method: :get, url: users_path do |f|
  .container
    .row
      .col.form-group
        = f.label :membership_number_in, "#{t('users.search_form.membership_number')}"
        = f.collection_select :membership_number_in,
                        User.order(:membership_number).pluck(:membership_number).reject(&:blank?),
                        :to_s, :to_s, { include_blank: false },
                        { multiple: true, size: 5, style: 'width: 100%;',
                          class: 'form-control search_field',
                          data: {language: "#{@locale}" } }
      .col.form-group
        = f.label :email_cont, "#{t('.profile_email')}"
        = f.search_field :email_cont, class: 'form-control input-sm'
      .col.form-group
        .form-check
          .form-check-input
            = f.radio_button :membership_filter, 0, checked: @filter_ignore_membership,
              id: 'radio-membership-filter-all',
              class: 'all'
          %label.form-check-label
            = t('.all_users')
        .form-check
          .form-check-input
            = f.radio_button :membership_filter, 1, checked: @filter_are_members,
              id: 'radio-membership-filter-members',
              class: 'members'
          %label.form-check-label
            = t('.are_members')
        .form-check
          .form-check-input
            = f.radio_button :membership_filter, 2, checked: @filter_are_not_members,
              id: 'radio-membership-filter-not-members',
              class: 'not-members'
          %label.form-check-label
            = t('.are_not_members')
      .col.form-group
        = submit_tag "#{t('search')}", class: ['btn', 'btn-primary', 'pull-right']
