= search_form_for search_params, method: :get, url: users_path do |f|
  .form-row.mb-3
    .col-sm
      = f.label :membership_number_in, "#{t('users.search_form.membership_number')}"
      = f.collection_select :membership_number_in,
                      User.order(:membership_number).pluck(:membership_number).reject(&:blank?),
                      :to_s, :to_s, { include_blank: false },
                      { multiple: true, size: 5, style: 'width: 100%;',
                        class: 'form-control search_field',
                        data: {language: language } }
    .col-sm
      = f.label :email_cont, "#{t('.profile_email')}"
      = f.search_field :email_cont, class: 'form-control input-sm'
    .col-sm
      .custom-control.custom-radio
        = f.radio_button :membership_filter, 0, checked: filter_ignore_membership,
          id: 'radio-membership-filter-all',
          class: 'all custom-control-input'
        %label.custom-control-label{ for: 'radio-membership-filter-all' }
          = t('.all_users')
      .custom-control.custom-radio
        = f.radio_button :membership_filter, 1, checked: filter_are_members,
          id: 'radio-membership-filter-members',
          class: 'members custom-control-input'
        %label.custom-control-label{ for: 'radio-membership-filter-members' }
          = t('.are_members')
      .custom-control.custom-radio
        = f.radio_button :membership_filter, 2, checked: filter_are_not_members,
          id: 'radio-membership-filter-not-members',
          class: 'not-members custom-control-input'
        %label.custom-control-label{ for: 'radio-membership-filter-not-members' }
          = t('.are_not_members')
    .col-sm
      = submit_tag "#{t('search')}", class: 'btn btn-primary btn-block mt-4'
