- content_for :stylesheet_for_view do
  = stylesheet_link_tag 'progress-bar', media: 'all'

.row
  .col
    .welcome-message
      %p= t('.welcome_want_to_have_benefits')
      %p
        %b= t('.welcome')
      %hr
.row
  .col
    .next-steps
      %h4= t('.title')

      - submit_text = t('.submit_application')
      %ol.steps
        %li.step.submit-application
          - if user.has_shf_application?
            %p
              = complete_check_icon(html_options: {class: 'is-complete'})
              = submit_text
              = link_to t('.my_application'), shf_application_path(user.shf_application), class: 'btn btn-sm btn-secondary'

            = render partial: 'show_application_section_row_cols', locals: { user: user }

            - t_key = "app_status_#{user.shf_application.state}"
            %p
              %strong.step-info= t(".#{t_key}")


          - else
            = link_to t('.apply_4_membership'), new_shf_application_path, class: 'btn btn-primary btn-sm'


        %li.step.membership-ethical-guidelines= render partial: 'ethical_guidelines_link_or_checklist', locals: {user: user}

        %li.step.pay-membership-fee
          - if user.allowed_to_pay_member_fee?
            = link_to( t('.pay_membership'), payments_path(user_id: user.id, type: user.class::THIS_PAYMENT_TYPE),
                  { method: :post, class: payment_button_classes })

          - else
            = link_to t('.pay_membership'), '#', class: 'btn btn-sm disabled btn-primary'
            %p.step-info= t('.when_can_pay')

        - if current_user.admin?
          .admin-only
            .row.mt-2
              .col
                .membership-status-title= t('users.show.membership_status')
            .row.ml-2
              .col
                - if user.admin_can_edit_status?
                  = render partial: 'payor/admin_note_and_edit_status_row',
                   locals: { entity: user,
                   target_id: '#edit-status-modal',
                   button_text: t('users.show.edit_member_status') }
                - else
                  %p.small.admin-cant-edit-status= t('payors.admin_cant_edit')

.row
  .col
    = render partial: 'show_info_for_admin_only', locals: { current_user: current_user, user: user }
