- content_for :stylesheet_for_view do
  = stylesheet_link_tag 'image-actions-custom-menu', media: 'all'

= render partial: 'show_login_email_row_cols', locals: { user: user }

- show_renewal_info = user.today_is_valid_renewal_date?

.membership
  .row
    .col-md-4.membership-number
      = field_or_default(t('.membership_number'), user.membership_number,
        default: t('.no_membership_number'),
        tag: :div)

    .col.memberhip-status
      = field_or_none(t('payors.status').capitalize,
        t("activerecord.attributes.membership.status.#{user.membership_status}"),
        tag: :div)

  .row
    .col.membership-expiration-date
      = membership_last_day_and_value(user.most_recent_membership,
       value_class: expire_date_css_class(user.membership_status_incl_informational))

  = render partial: 'admin_only_edit_status', locals: { user: user }

  = render partial: 'admin_only_payments', locals: { entity: user }


= render partial: 'renewal', locals: { user: user } if show_renewal_info

= render partial: 'show_application_section_row_cols', locals: { user: user }

= render partial: 'shf_applications/show_business_categories',
                  locals: { shf_application: user.shf_application }

%p.membership-guidelines-checklist= render partial: 'ethical_guidelines_link_or_checklist',
  locals: {user: user, find_or_create_method: :find_or_create_membership_guidelines_list_for } unless show_renewal_info

= render partial: 'show_uploaded_files_section_row_cols',  locals: { user: user }

%hr

= render partial: 'show_info_for_admin_only', locals: { user: user }

= render partial: 'show_member_images_row_cols', locals: { user: user, app_configuration: app_config }
