- expire_date = user.membership_expire_date
%tr.user
  - expire_date_css_class = expire_date_css_class(user.membership_status_incl_informational)
  %td.membership_number= user.membership_number
  %td.email{ id: "user-#{user.id}" }= link_to user.email, user, title: t('.edit_user_account', name: user.full_name)
  %td.created-at
    %small= i18n_time_ago_in_words(user.created_at)
  %td.sign-in-count= user.sign_in_count
  %td.applications-open= user_has_open_application(user)
  %td.member-packet=  member_packet_sent_checkbox(user)
  %td.is-member
    %span{ class: ['membership-status', expire_date_css_class] }
      = user.member ? t('yes') : t('no')

  %td.expire-date
    - if expire_date
      %span{ class: ['expire-date-background', expire_date_css_class] }
        = expire_date
  %td.edit
    = link_to icon('fas', 'edit'), admin_only_user_profile_edit_path(user), title: t('.edit_user_profile', name: user.full_name)
  %td.delete
    - delete_user = t('users.delete_user', user: "#{user.full_name}")
    = link_to icon('fas', 'trash', class: 'delete'),
              user_path(user), method: :delete,
              title: delete_user,
              :data => { :confirm => delete_user + '?' }
