#users_list
  .table-responsive
    %table.table.table-hover.table-sm.table-striped
      %thead
        %tr
          %th= sort_link(q, :padded_membership_number, t('users.users_list.membership_number'), {}, { class: 'users_pagination', remote: true } )
          %th= sort_link(q, :email, t('.email'), { default_order: { email: :asc } }, { class: 'users_pagination', remote: true } )
          %th= t('.created')
          %th= t('.logged_in_count')
          %th
            = t('.application')
            = fas_tooltip(t('.applications_tooltip'))
          %th= t('.member')
          %th= t('.expire_date')
          %th
      %tbody.panel-body
        = render partial: 'user', collection: users
  = render partial: 'application/paginate_footer',
           locals: { entities: @users,
                     paginate_class: 'users_pagination',
                     items_count: items_count,
                     url: users_path }
