#users-list
  %table.table
    %thead.panel-heading
      %tr
        %th= sort_link(q, :padded_membership_number, t('users.users_list.membership_number'), {}, { remote: true } )
        %th= sort_link(q, :email, t('.email'), { default_order: { email: :asc } }, { remote: true } )
        %th= t('.created')
        %th= t('.logged_in_count')
        %th
          = t('.applications')
          %span.glyphicon.glyphicon-info-sign{ title: "#{t('.applications_tooltip')}",
                                               data: {toggle: 'tooltip'} }
        %th= t('.member')
        %th= t('.expire_date')
    %tbody.panel-body
      = render partial: 'user', collection: users
