%header.entry-header
  - user_name = @user.full_name
  %h1{ class: with_admin_css_class_if_needed(@current_user, ['entry-title']) }
    = user_name.empty? ? @user.email : user_name
    - if @user.admin?
      %span.small
        (#{ t('.is_an_admin') })

    - if @current_user.admin?
      = link_to edit_icon, admin_only_edit_user_account_path(@user), class: ['shf-icon', 'edit-user-account-icon'], title: t('.edit_user_account', name: user_name)
      = link_to user_profile_icon, admin_only_user_profile_edit_path(@user), class: ['shf-icon', 'edit-user-profile-icon'], title: t('.edit_user_profile', name: user_name)


.entry-content.container
  - if @user.member?
    = render partial: 'show_for_member',
             locals: { user: @user,
                       current_user: @current_user,
                       app_config: @app_configuration }
  - else
    = render partial: 'show_for_applicant', locals: { user: @user, current_user: @current_user }
