%header.entry-header
  - user_name = @user.full_name
  - if @user.admin?
    %h1.entry-title.is-admin
      = user_name.empty? ? @user.email : user_name
      %span.small
        (#{t('.is_an_admin')})
  - else
    %h1.entry-title
      = user_name.empty? ? @user.email : user_name

.entry-content
  .col-sm-6
    = field_or_none("#{t('.email')}", mail_to(@user.email),
                    label_class: 'standard-label')
  .col-sm-4.col-sm-offset-2
    = field_or_none("#{t('.membership_number')}", @user.membership_number,
                    label_class: 'standard-label')
  .clearfix

  = render partial: 'member_payment_status', locals: { user: @user }

  .clearfix

  .col-sm-12

    - unless @user.shf_applications.exists?
      = field_or_none("#{t('applications')}", t('none'), label_class: 'standard-label')
    - else
      -# .col-sm-3{ style: 'margin-left: -15px;' }
      %span.standard-label #{t('applications')}:

    .row
      %table.table.table-hover
        %thead
          %tr
            %th
              = t('activerecord.attributes.shf_application.contact_email')
            %th
              = t('activerecord.attributes.shf_application.state')
            %th
              = t('activerecord.attributes.shf_application.company_number')
            %th
              = t('activerecord.attributes.company.name')
        %tbody
          - @user.shf_applications.includes(:companies).each do |app|
            %tr.shf_application
              %td= mail_to(app.contact_email)
              %td
                - i18n_state = t("shf_applications.state.#{app.state}")
                - if app.accepted?
                  %span.yes= i18n_state
                - else
                  %span.maybe= i18n_state
              %td= link_to(app.company_number, shf_application_path(app))
              %td= app.company&.name

  .col-sm-12
    %span.standard-label #{t('user_activity')}:

    .row
      Account #{t('.created')} #{i18n_time_ago_in_words(@user.created_at)}

      %p
      - if @user.last_sign_in_at.blank? && @user.current_sign_in_at.blank?
        #{@user.email} #{t('.user_has_never_signed_in')}

      - else
        = "#{t('.last_login')}:"
        #{ most_recent_login_time @user}
        (#{i18n_time_ago_in_words(most_recent_login_time @user)})
        %br
        #{t('.logged_in_count')}:
        = @user.sign_in_count

      %p
      - if @user.reset_password_sent_at.blank?
        = t('.password_never_reset')
      - else
        %b #{t('.reset_password_sent_at')}:
        #{@user.reset_password_sent_at}
        #{i18n_time_ago_in_words(@user.reset_password_sent_at)})

  %hr

  .col-sm-12
    %button.btn.alert-danger.admin-set-new-password{ id: 'toggle_admin_set_password_form',
                 href: '#set_new_password_form',
                 style: 'text-transform:none;' }

      #{ t('toggle.set_new_password_form.show') }

    .panel.panel-default.admin-set-new-password-form{ id: 'set_new_password_form' ,
                          style: 'display: none;'}

      = render 'password_form'

    = render partial: 'proof_of_membership',
                      locals: { app_config: @app_configuration, user: @user }

    = link_to('render html', proof_of_membership_path(@user))
    = link_to('render jpg', proof_of_membership_path(@user, render_to: :jpg))

= render partial: 'edit_status_modal', locals: { user: @user }
