%header.entry-header
  %h1.entry-title= t('.title')
.post-title-divider
  %span
.entry-content.wpcf7
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    - if resource.errors.any?
      .wpcf7-response-output
        - resource.errors.full_messages.each do |msg|
          = msg
    .field
      = f.label :email, class: 'required'
      %br/
      = f.email_field :email, autofocus: true, class: 'wpcf7-form-control'
    .actions
      = f.submit "#{t('.submit_button_label')}"
  = render 'application/required_fields'
  = render 'devise/shared/links'
