#company-events

  %table.table.table-hover{ style: 'table-layout: fixed;'}
    %thead
      %tr
        %th{ style: 'width: 40%;' }
          #{t('events.show.name')}
        %th{ style: 'width: 35%;' }
          #{t('events.show.location')}
        %th{ style: 'text-align: right; width: 10%;'}
          #{t('events.show.fee')}
        %th{ style: 'text-align: center; width: 15%;'}
          #{t('events.show.start_date')}
      %tr
    %tbody
      - if events.any?
        - events.each do |event|
          %tr.event
            %td.event-name
              = link_to event.name, event.sign_up_url, target: '_blank'
            %td.location
              = event.location
            %td.fee{ style: 'text-align: right;'}
              = number_to_currency(event.fee, locale: 'sv', format: '%n',
                                   delimiter: ' ', precision: 0)
            %td.event-start-date{ style: 'text-align: center;'}
              = event.start_date
      - else
        %tr.event
          %td.event-name{ colspan: 4 }
            #{t('events.show.no_events')}

  = render 'application/paginate_footer', entities: events,
                                          paginate_class: 'events_pagination',
                                          items_count: items_count,
                                          url: company_path(company),
                                          params: { controller: 'companies',
                                                    action: 'show' }
