%header.entry-header
  %h1.entry-title Historiska dokument (pdf/docx)
.post-title-divider
  %span
.entry-content
  %p
    %strong 2016
  %p
    = link_to '2016-01-03', 'http://media.bygg.immi.nu/2016/01/2016-01-03.pdf', target: '_blank'
  %p
    = link_to '2016-01-21', 'http://media.bygg.immi.nu/2013/08/2016-01-21.pdf', target: '_blank'
  %p
    = link_to '2016-02-08', 'http://media.bygg.immi.nu/2013/08/2016-02-08.pdf', target: '_blank'
  %p
    = link_to 'IMMI-årsmötesprotokoll 2016-02-15', 'http://media.bygg.immi.nu/2013/08/IMMI-årsmötesprotokoll-2016.docx', target: '_blank'
  %p
    = link_to 'Protokoll Konstituerande styrelsemöte 160217', 'http://media.bygg.immi.nu/2013/08/Protokoll-Konstituerande-styrelsemöte-160217.pdf', target: '_blank'
  %p
    = link_to '2016-04-17', 'http://media.bygg.immi.nu/2013/08/2016-04-17.docx', target: '_blank'
  %p
    = link_to '2016-05-11', 'http://media.bygg.immi.nu/2013/08/2016-05-11.docx', target: '_blank'
  %p
    = link_to '2016-05-23', 'http://media.bygg.immi.nu/2013/08/IMMI-Styrelsemöte2016-05-23.docx', target: '_blank'
  %p
    = link_to '2016-07-18', 'http://media.bygg.immi.nu/2013/08/2016-07-18.docx', target: '_blank'
  %p
    = link_to '2016-10-09', 'http://media.bygg.immi.nu/2013/08/2016-10-09.pdf', target: '_blank'
  %p
  %p
    %strong 2015
  %table
    %tbody
      %tr
        %td
          %p
          %p
            = link_to '20151230', 'http://media.bygg.immi.nu/2016/01/2015-12-30.pdf', target: '_blank'
          %p
            = link_to '20151212', 'http://media.bygg.immi.nu/2013/08/2015-12-12.pdf', target: '_blank'
          %p
            = link_to '20151118', 'http://media.bygg.immi.nu/2013/08/2015-11-18.pdf', target: '_blank'
          %p
            = link_to '20151105', 'http://media.bygg.immi.nu/2015/12/2015-11-05.pdf', target: '_blank'
          %p
            = link_to '20151021', 'http://media.bygg.immi.nu/2013/08/2015-10-21.pdf', target: '_blank'
        %td
          %p
            = link_to '20151012', 'http://media.bygg.immi.nu/2013/08/2015-10-12.pdf', target: '_blank'
          %p
            = link_to '20150830', 'http://media.bygg.immi.nu/2013/08/2015-08-30.pdf', target: '_blank'
          %p
            = link_to '20150626', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150626.pdf', target: '_blank'
          %p
            = link_to '20150621', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150621.pdf', target: '_blank'
          %p
            = link_to '20150524', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150524.pdf', target: '_blank'
          %p
            = link_to '20150426', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150426.pdf', target: '_blank'
        %td
          %p
            = link_to '20150412', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150412.pdf', target: '_blank'
          %p
            = link_to '20150331', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150331.pdf', target: '_blank'
          %p
            = link_to '20150329', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150329.pdf', target: '_blank'
          %p
            = link_to '20150301', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150301.pdf', target: '_blank'
          %p
            = link_to '20150207', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150207.pdf', target: '_blank'
          %p
            = link_to '20150118', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-150118.pdf', target: '_blank'
  %p
  %p
    %strong 2014
  %table
    %tbody
      %tr
        %td
          %p
            = link_to '20141130', 'http://media.bygg.immi.nu/2013/08/20141130.pdf', target: '_blank'
          %p
            = link_to '20141026', 'http://media.bygg.immi.nu/2013/08/20141026.pdf', target: '_blank'
          %p
            = link_to '20140928', 'http://media.bygg.immi.nu/2013/08/20140928.docx', target: '_blank'
          %p
            = link_to '20140831', 'http://media.bygg.immi.nu/2013/08/20140831.pdf', target: '_blank'
          %p
            = link_to '20140629', 'http://media.bygg.immi.nu/2013/08/20140629.pdf', target: '_blank'
        %td
          %p
            = link_to '20140525', 'http://media.bygg.immi.nu/2014/03/20140525.pdf', target: '_blank'
          %p
            = link_to '20140427', 'http://media.bygg.immi.nu/2014/03/20140427.pdf', target: '_blank'
          %p
            = link_to '20140309', 'http://media.bygg.immi.nu/2013/08/Styrelsemötesprotokoll-140309.pdf', target: '_blank'
          %p
            = link_to '20140223', 'http://media.bygg.immi.nu/2014/03/20140223.pdf', target: '_blank'
          %p
            = link_to '20140126', 'http://media.bygg.immi.nu/2013/08/20140126.pdf', target: '_blank'
  %p
  %h2 ÅRSMÖTESPROTOKOLL:
  %p 2015
  %p
    = link_to 'Protokoll fört vid IMMI:s årsmöte 2015', 'http://media.bygg.immi.nu/2013/08/IMMI-årsmötesprotokoll.docx', target: '_blank'
  %p
    = link_to 'Protokoll fört vid IMMI:s extra årsmöte maj 2015', 'http://media.bygg.immi.nu/2013/08/Årsmötesprotokoll-150510.docx', target: '_blank'
  %p 2014
  %p
    = link_to 'Protokoll fört vid IMMIs årsmöte 2014', 'http://media.bygg.immi.nu/2014/03/Protokoll-fört-vid-IMMIs-årsmöte-2014.pdf', target: '_blank'
  %p ————————————–
  %p 2013
  %p
    = link_to 'Protokoll fört vid IMMIs årsmöte 2013', 'http://media.bygg.immi.nu/2013/08/Protokoll-för-vid-IMMIs-årsmöte-2013.pdf', target: '_blank'
