%header.entry-header
  %h1.entry-title Styelse och kontaktinformation
.post-title-divider
  %span
.entry-content
  %p
    SHF:s nuvarande styrelse fick förtroendet årsmötet 2015. Styrelsen består
    av en grupp engagerade hundföretagare som tillsammans besitter bred
    kompetens och ser behovet av en samlande organisation. Alla har en given
    roll och kvaliteter vi inte klarat oss utan. Det är ett sant nöje att
    tillsammans arbeta mot gemensamma mål som vi alla brinner för.
  %p
    %strong
      Plusgiro nummer 46 96 49-8
      %br/
      Organisationsnummer 873202-2705
  %p
    %strong> Ordförande/Medlemskontakter
    %br/
    Ulrika Bevreus
    %br/
    = mail_to 'ulrika@sverigeshundforetagare.se'
  %p
    %strong> Ledamot / Vice ordförande
    %br/
    Caroline Alupo
    %br/
    = mail_to 'carro@sverigeshundforetagare.se'
  %p
    %strong> Ledamot / Hemsida
    %br/
    Susanna Larsdotter
    %br/
    = mail_to 'susanna@sverigeshundforetagare.se'
  %p
    %strong> Ledamot
    %br/
    Lena Josefsson
    %br/
    = mail_to 'lena@sverigeshundforetagare.se'
  %p
    %strong> Ledamot/Kassör
    %br/
    Susanna Lönngren
    %br/
    = mail_to 'kassor@sverigeshundforetagare.se'
  %p
    %strong> Suppleant
    %br/
    Frida Lundin
    %br/
    = mail_to 'frida@sverigeshundforetagare.se'
  %p
    %strong> Suppleant
    %br/
    Eva Kant
    %br/
    = mail_to ''
  %p
  %p
    %strong Valberedning:
  %p
    %strong Kommer
  %h3
    Senaste Mötesprotokoll
    %p
      Kommer här nedan inom kort
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')