%header.entry-header
  %h1.entry-title Styelse och kontaktinformation
.post-title-divider
  %span
.entry-content
  %p
    SHF:s nuvarande styrelse fick förtroendet årsmötet 2015. Styrelsen består
    av en grupp engagerade hundföretagare som tillsammans besitter bred
    kompetens och ser behovet av en samlande organisation. Alla har en given
    roll och kvaliteter vi inte klarat oss utan. Det är ett sant nöje att
    tillsammans arbeta mot gemensamma mål som vi alla brinner för.
  %p
    %strong
      Plusgiro nummer 46 96 49-8
      %br/
      Organisationsnummer 873202-2705
  %p
    %strong> Ordförande
    %br/
    Caroline Hellgren 0733-249768
    %br/
    = mail_to 'caroline@sverigeshundforetagare.se'
  %p
    %strong> Ledamot / Vice ordförande
    %br/
    Cilla Danielsson
    %br/
    = mail_to 'cilla@sverigeshundforetagare.se'
  %p
    %strong> Ledamot / Hemsida
    %br/
    Susanna Larsdotter
    %br/
    = mail_to 'susanna@sverigeshundforetagare.se'
  %p
    %strong> Ledamot
    %br/
    Lena Josefsson
    %br/
    = mail_to 'lena@sverigeshundforetagare.se'
  %p
    %strong> Ledamot/Kassör
    %br/
    Kicki Fellstenius
    %br/
    = mail_to 'kicki@sverigeshundforetagare.se'
  %p
    %strong> Suppleant
    %br/
    Åsa Tova Bergh
    %br/
    = mail_to 'asatova@sverigeshundforetagare.se'
  %p
    %strong> Medlemskontakter/Suppleant
    %br/
    Ulrika Bevreus
    %br/
    = mail_to 'ulrika@sverigeshundforetagare.se'
  %p
  %p
    %strong Valberedning:
  %p
    %strong Kommer
  %p
  %h3
    Revisorer:
  %p
    %strong> Linn Aasen
    %br/
    070-7404164
  %p
    %strong> Kerstin Zeuge
    %br/
    070-9641609
  %p
    Vår delade passion och målbild med tidigare IMMI var att förnya,
    modernisera och utveckla. Att skaka av oss en gammal image och ersätta den
    med ett nytt fräscht varumärke som kommer göra skillnad, i hund-Sverige!
  %h3
    Protokoll och nyhetsbrev
    %p
      Kommer här nedan inom kort
  %p.center
    = link_to 'Tillbaks till Medlemssidor', page_path('index')