%header.entry-header
  %h1.entry-title Styelse och kontaktinformation
.post-title-divider
  %span
.entry-content
  %strong
    Plusgiro nummer 46 96 49-8
    %br/
    Organisationsnummer 873202-2705
  %p
    %b> Ordförande
    Caroline Hellgren 0733-249768
    = mail_to 'caroline@sverigeshundforetagare.se'
  %p
    %b> Ledamot / Vice ordförande
    Cilla Danielsson
    = mail_to 'cilla@sverigeshundforetagare.se'
  %p
    %b> Ledamot / Hemsida
    Susanna Larsdotter
    = mail_to 'susanna@sverigeshundforetagare.se'
    %strong
      %br/
  %p
    %strong> Ledamot
    Lena Josefsson
    = mail_to 'lena@sverigeshundforetagare.se'
  %p
    %strong> Ledamot/Kassör
    Kicki Fellstenius
    = mail_to 'kicki@sverigeshundforetagare.se'
  %p
    %strong> Suppleant
    Åsa Tova Bergh
    = mail_to 'asatova@sverigeshundforetagare.se'
  %p
    %strong> Medlemskontakter/Suppleant
    Ulrika Bevreus
    = mail_to 'ulrika@sverigeshundforetagare.se'
  %p
  %p
    %strong Valberedning:
  %p
    %strong Kommer
  %p
  %h3
    Revisorer:
  %p
    %strong> Linn Aasen
    070-7404164
  %p
    %strong> Kerstin Zeuge
    070-9641609
