- provide :signoff do
  = render 'admin_mailer/signoff'


= t('application_mailer.admin.new_application_received.message_text.new_app_arrived')
\
= t('application_mailer.admin.new_application_received.message_text.from')
= '     ' + @shf_app.user.full_name
= '     ' + I18n.t('activerecord.attributes.shf_application.contact_email') + ': ' + @shf_app.contact_email

= '        ' + I18n.t('activerecord.attributes.shf_application.phone_number') + ': ' + (@member_app.phone_number.nil? ? '' : @member_app.phone_number)
= '        ' + I18n.t('activerecord.attributes.company.company_number') + ': ' + @shf_app.company_number

= '        # ' + I18n.t('activerecord.attributes.shf_application.uploaded_files.many') + ': ' + @shf_app.uploaded_files.count.to_s
- @shf_app.uploaded_files.each do |uploaded_file|
  = '            ' + uploaded_file.actual_file_file_name


\
= t('application_mailer.admin.new_application_received.message_text.view_app_here')
= '     ' + url_for(@shf_app)
\
= t('application_mailer.admin.new_application_received.message_text.must_be_logged_in')
\

