= f.fields_for :addresses  do |address_form|

  = address_form.label :street_address, "#{t('companies.show.street')}", class: 'required'
  = address_form.text_field :street_address, class: 'wpcf7-form-control'

  = address_form.label :post_code, "#{t('companies.show.post_code')}", class: 'required'
  = address_form.text_field :post_code, class: 'wpcf7-form-control'

  = address_form.label :city, "#{t('companies.show.city')}", class: 'required'
  = address_form.text_field :city, class: 'wpcf7-form-control'

  .form-group
    .col-sm-4

      = address_form.label :kommun_id, "#{t('companies.show.kommun')}"
      %br
      = address_form.collection_select(:kommun_id, Kommun.all, :id, :name)

    .col-sm-4

      = address_form.label :region_id, "#{t('companies.operations_region')}",
                           class: 'wpcf7-form-control'

      %span.glyphicon.glyphicon-info-sign{ title: "#{t('companies.form.region_tooltip')}",
                                           data: {toggle: 'tooltip'} }

      %br
      = address_form.collection_select(:region_id, Region.all, :id, :name)

    .col-sm-4

      = address_form.label :visibility, "#{t('companies.address_visibility')}"

      %span.glyphicon.glyphicon-info-sign{ title: "#{t('companies.form.visibility_tooltip')}",
                                           data: {toggle: 'tooltip'} }

      %br
      = address_form.select(:visibility, address_visibility_array)

  %br
  %br
  %br
