#companies_list
  %table.table.table-hover
    %thead
      %tr
        %th
          = t('activerecord.models.business_category.one')
        %th
          = sort_link(@search_params, :name,
                      t('activerecord.attributes.company.name'))
        %th
          = sort_link(@search_params, :addresses_region_name,
                      t('activerecord.attributes.address.region'))
        %th
          = sort_link(@search_params, :addresses_kommun_id,
                      t('activerecord.attributes.address.kommun'))

        - if current_user.try(:admin)
          %th
            = sort_link(@search_params, :company_number,
                      t('activerecord.attributes.company.company_number'))
          %th
          %th

    %tbody
      - @companies.each do |company|
        %tr.company
          %td{ style: 'white-space: nowrap;' }
            - first = true
            - company.business_categories.order(:name).distinct.each do | bc |
              - if first
                - first = false
                = bc.name
              - else
                <br/>
                = bc.name
          %td= link_to company.name, company
          %td= company.main_address.region&.name
          %td= company.main_address.kommun&.name
          - if current_user.try(:admin)
            %td= company.company_number
            %td= link_to "#{t('edit')}", edit_company_path(company)
            %td= link_to "#{t('delete')}", company, method: :delete,
                            data: { :confirm => "#{t('confirm_are_you_sure')}" }

  = render partial: 'application/paginate_footer',
           locals: { entities: @companies,
                     paginate_class: 'companies_pagination',
                     items_count: @items_count,
                     url: companies_path }
