#companies_list
  %table.table.table-hover
    %thead
      %tr
        %th
          = t('activerecord.models.business_category.one')
        %th
          = sort_link(@search_params, :name,
                      t('activerecord.attributes.company.name'), {},
                      { class: 'companies_pagination', remote: true })
        %th
          = sort_link(@search_params, :addresses_region_name,
                      t('activerecord.attributes.address.region'), {},
                      { class: 'companies_pagination', remote: true })
        %th
          = sort_link(@search_params, :addresses_kommun_id,
                      t('activerecord.attributes.address.kommun'), {},
                      { class: 'companies_pagination', remote: true })

        - if current_user.admin?
          %th
            = sort_link(@search_params, :company_number,
                      t('activerecord.attributes.company.company_number'), {},
                      { class: 'companies_pagination', remote: true })
          %th
          %th

    %tbody
      - @companies.each do |company|
        %tr.company
          %td{ style: 'white-space: nowrap;' }
            = company.business_categories.distinct.order(:name).each.map{|bc| bc.name}.join('<br/>').html_safe
          %td= link_to company.name.blank? ? t('name_missing') : company.name, company
          %td{style: 'white-space: nowrap;'}
            = company.addresses.each.map{|address| address.region&.name}.uniq.join('<br/>').html_safe
          %td{style: 'white-space: nowrap;'}
            = company.addresses.each.map{|address| address.kommun&.name}.uniq.join('<br/>').html_safe

          - if current_user.admin?
            %td= company.company_number
            %td= link_to "#{t('edit')}", edit_company_path(company)
            %td= link_to "#{t('delete')}", company, method: :delete,
                            data: { :confirm => "#{t('confirm_are_you_sure')}" }

  = render partial: 'application/paginate_footer',
           locals: { entities: @companies,
                     paginate_class: 'companies_pagination',
                     items_count: @items_count,
                     url: companies_path }
