= form_for @company, html: { class: "#{class_name}" } do |f|

  != model_errors_helper(@company)

  = f.label :name, "#{t('companies.company_name')}", class: 'required'
  = f.text_field :name, class: 'wpcf7-form-control'

  %div
    = f.label :company_number, "#{t('companies.show.company_number')}", class: 'required'

    %span.glyphicon.glyphicon-info-sign{ title: "#{t('.org_nr_tooltip')}",
                                         data: {toggle: 'tooltip'} }
  = f.number_field :company_number, class: 'wpcf7-form-control'

  = f.label :phone_number, "#{t('companies.telephone_number')}"
  = f.text_field :phone_number, class: 'wpcf7-form-control'

  = f.label :email, "#{t('companies.show.email')}", class: 'required'
  = f.text_field :email, class: 'wpcf7-form-control'

  = f.label :website, "#{t('companies.website_include_http')}"
  = f.text_field :website, class: 'wpcf7-form-control'

  .dinkurs-company-id
    = f.label :dinkurs_company_id, "#{t('companies.show.dinkurs_key')}"

    %span.glyphicon.glyphicon-info-sign{ title: "#{t('.dinkurs_id_tooltip')}",
                                         data: {toggle: 'tooltip'} }

    = f.text_field :dinkurs_company_id, class: 'wpcf7-form-control'

  .dinkurs-company-show
    %div
      = f.label :show_dinkurs_events, "#{t('companies.show_dinkurs_events')}"

      %span.glyphicon.glyphicon-info-sign{ title: "#{t('.dinkurs_show_tooltip')}",
                                           data: {toggle: 'tooltip'} }

    %label.switch
      = f.check_box :show_dinkurs_events, {}, "true", "false"
      %span.slider

  = f.label :description, "#{t('companies.description')}"
  = f.cktext_area :description, class: 'wpcf7-form-control'

  = f.submit "#{t('submit')}"
