= form_for @company do |f|

  != model_errors_helper(@company)

  = f.label :name, "#{t('companies.company_name')}", class: 'required'
  = f.text_field :name, class: 'wpcf7-form-control'

  = f.label :company_number, "#{t('companies.show.company_number')}", class: 'required'

  %span.glyphicon.glyphicon-info-sign{ title: "#{t('.org_nr_tooltip')}",
                                       data: {toggle: 'tooltip'} }
  = f.text_field :company_number, class: 'wpcf7-form-control'

  = f.label :phone_number, "#{t('companies.telephone_number')}"
  = f.text_field :phone_number, class: 'wpcf7-form-control'

  = f.label :email, "#{t('companies.show.email')}", class: 'required'
  = f.text_field :email, class: 'wpcf7-form-control'

  - if @company.addresses.count > 1
    %p.main-address #{t('companies.show.main_address')}:

  = render 'address_fields', {f: f, addresses: [ @company.main_address ]}

  - other_addresses = @company.addresses - [ @company.main_address ]
  - unless other_addresses.empty?
    %p.other_addresses #{t('companies.show.other_addresses')}:
    = render 'address_fields', {f: f, addresses: other_addresses}


  = f.label :website, "#{t('companies.website_include_http')}", class: 'required'
  = f.text_field :website, class: 'wpcf7-form-control'

  = f.label :description, "#{t('companies.description')}"
  = f.cktext_area :description, class: 'wpcf7-form-control'

  = f.submit "#{t('submit')}"
