= form_for @company do |f|
  - if @company.errors.any?
    .wpcf7-response-output
      - @company.errors.full_messages.each do |msg|
        = msg

  = f.label :name, "#{t('companies.company_name')}", class: 'required'
  = f.text_field :name, class: 'wpcf7-form-control'

  = f.label :company_number, "#{t('companies.show.company_number')}", class: 'required'
  = f.text_field :company_number, class: 'wpcf7-form-control'
  %em= t('companies.org_nr_no_hyphens')
  %br

  = f.label :phone_number, "#{t('companies.telephone_number')}"
  = f.text_field :phone_number, class: 'wpcf7-form-control'

  = f.label :email, "#{t('companies.show.email')}", class: 'required'
  = f.text_field :email, class: 'wpcf7-form-control'

  %p #{t('companies.show.address')}:


  = f.fields_for :addresses  do | address_form |

    = address_form.index

    = address_form.label :street_address, "#{t('companies.show.street')}", class: 'required'
    = address_form.text_field :street_address, class: 'wpcf7-form-control'

    = address_form.label :post_code, "#{t('companies.show.post_code')}", class: 'required'
    = address_form.text_field :post_code, class: 'wpcf7-form-control'

    = address_form.label :city, "#{t('companies.show.city')}", class: 'required'
    = address_form.text_field :city, class: 'wpcf7-form-control'

    = address_form.label :region_id, "#{t('companies.operations_region')}", class: 'required'
    = address_form.collection_select(:region_id, Region.all, :id, :name)



  %br
  %em= t('companies.op_region_multiple_use_sweden')
  %br

  = f.label :website, "#{t('companies.website_include_http')}", class: 'required'
  = f.text_field :website, class: 'wpcf7-form-control'

  = f.submit "#{t('submit')}"
