= javascript_include_tag "#{Rails.configuration.shf['google_maps_js_api']}?key=#{Rails.configuration.x.google_key}"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/gmaps4rails/2.1.2/gmaps4rails.min.js"
= javascript_include_tag "http://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
= javascript_include_tag "http://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"


#map


:javascript

  showGMap( #{raw @map_markers.to_json }, #{@map_zoom_level});


