-# content_for :javascript_for_view do

= javascript_include_tag "#{Geocoder.config[:google_maps_js_api]}?key=#{Geocoder.config[:api_key]}&callback=initMap", async: true


-# The following selector IDs are important.
  They are used by functions in google-maps.js to display a map.
  Feel free to display (not use the .hidden class) any of the values.

.hidden#marker-text= marker_text
.hidden#location-latitude= address.latitude
.hidden#location-longitude= address.longitude

#map
