- content_for :javascript_for_view do
  = javascript_include_tag Ckeditor.cdn_url

%header.entry-header
  %h1.entry-title= t('.title', company_name: @company.name)
  .text-center
    - unless association_empty?(@all_business_categories)
      = render 'business_categories/as_list',
          categories: @company.business_categories
      %hr
.entry-content
  = render 'form', class_name: 'edit-company'
  %hr
  .text-center
    = link_to "#{t('companies.view_company')}", @company, class: 'btn btn-sm btn-light'
    = link_to "#{t('companies.list_all_companies')}", companies_path, class: 'btn btn-sm btn-light'
