%header.entry-header
  %h1.entry-title= t('.title', company_name: @company.name)
  .post-title-divider
    %span
  - unless assocation_empty?(@all_business_categories)
    = render 'business_categories/as_list',
        categories_names: @company.categories_names
.entry-content.wpcf7
  = render 'form'
  .center
    = link_to "#{t('companies.view_company')}", @company
    \|
    = link_to "#{t('companies.list_all_companies')}", companies_path
