%header.entry-header
  - unless current_user.try(:admin)
    %h1.entry-title Hitta H-märkt företag
  - if current_user.try(:admin)
    %h1.entry-title Redigera medlemsföretag
.post-title-divider
  %span
.entry-content
  - unless current_user.try(:admin)
    %p
      %strong
        Sidan är under uppbyggnad, mer information och funktioner kommer att komma efterhand.
    %p
      Nedan listas anslutna H-märkta företag
      Du kan söka i listan på datorn med ctrl+F(PC) eller cmd+F(mac)

  %table
    %thead
      %tr
        %th Kategori
        %th Namn
        %th Län
        - if current_user.try(:admin)
          %th Org nr
          %th
          %th

    %tbody
      - @companies.each do |company|
        - if company_complete? company
          %tr.company
            %td= list_categories company
            %td= link_to company.name, company
            %td= company.region
            - if current_user.try(:admin)
              %td= company.company_number
              %td= link_to 'Edit', edit_company_path(company)
              %td= link_to 'Delete', company, method: :delete, data: { :confirm => 'Are you sure?' }
  %br
