%header.entry-header
  - unless current_user.admin?
    %h1.entry-title= t('.title')
  - if current_user.admin?
    %h1.entry-title= t('.admin_title')

.entry-content
  .row
    .col-lg-4
      = render 'map_companies',
               markers: location_and_markers_for(@all_visible_companies)


    .col-lg-8
      .panel-group.m-2#accordion{ "aria-multiselectable" => "true", :role => "tablist" }
        .panel.panel-default
          #heading-2.panel-heading{:role => "tab"}
            %h4.panel-title.hide-toggler
              %a{ id: 'toggle_search_form', href: '#company_search_form' }
                #{t('toggle.company_search_form.hide')}
          #company_search_form.panel-collapse{ "aria-labelledby" => "heading-2", :role => "tabpanel" }
            .panel-body
              = render 'search_form', all_companies: @all_companies, search_params: @search__params


  - if @companies.empty?
    %strong
      #{t('.no_search_results')}
  - else
    = render 'companies_list', companies: @companies, search_params: @search_params
