%header.entry-header
  - unless current_user.try(:admin)
    %h1.entry-title= t('.title')
  - if current_user.try(:admin)
    %h1.entry-title= t('.admin_title')

.entry-content
  - unless current_user.try(:admin)
    %p
      %strong
        #{t('info.under_construction')}
    %p
      #{t('.h_companies_listed_below')}
      #{t('.how_to_search')}

      %button.btn.btn-success.btn-xs.pull-right{ id: 'toggle_search_form',
                                        href: '#company_search_form',
                                        style: 'color:black; text-transform:none;' }
        #{t('toggle.company_search_form.hide')}

  .panel.panel-default{ style: 'padding-left: 5px; padding-right: 5px;',
                        id: 'company_search_form' }
    = render 'search_form'

  - if @companies.empty?
    %strong
      #{t('.no_search_results')}
  - else
    = render partial: 'companies_list'
