%header.entry-header
  - unless current_user.try(:admin)
    %h1.entry-title Hitta SHF-medlem
  - if current_user.try(:admin)
    %h1.entry-title Redigera medlemsföretag
.post-title-divider
  %span
.entry-content
  - unless current_user.try(:admin)
    %p
      Nedan listas anslutna H-märkta företag
      Vi arbetar febrilt på att få denna sida mycket bättre, till dess kan du
      söka i listan på datorn med ctrl+F(PC) eller cmd+F(mac)

  %table
    %thead
      %tr
        %th Namn
        %th Län
        %th Org nr
        %th
        - if current_user.try(:admin)
          %th
          %th

    %tbody
      - @companies.each do |company|
        - if company_complete?
          %tr.company
            %td= company.name
            %td= company.region
            %td= company.company_number
            %td= link_to 'Visa företag', company
            - if current_user.try(:admin)
              %td= link_to 'Edit', edit_company_path(company)
              %td= link_to 'Delete', company, method: :delete, data: { :confirm => 'Are you sure?' }
  %br
  - if current_user.try(:admin)
    .center
      = link_to 'Skapa nytt företag', new_company_path
