%header.entry-header
  = content_title(current_user.admin? ? t('.admin_title') : t('.title'), user: current_user)
.entry-content
  .row
    .col-lg-4#companies_map
      = render 'map_companies', markers: location_and_markers_for(@all_visible_companies)

    .col-lg-8
      .panel-group.m-2#accordion{ role: 'tablist' }
        .panel.panel-default

          = render 'application/accordion_showhide_toggle_panel_heading',
           toggler_id: 'company_search_form'

          .panel-collapse.collapse.show#toggled_search_form{ 'aria-labelledby' => 'toggle-heading', role: 'tabpanel' }
            .panel-body
              = render 'search_form', all_companies: @all_companies,
                                      search_params: @search__params,
                                      addresses_select_list: @addresses_select_list,
                                      language: @locale

  - if @companies.empty?
    %strong
      #{t('.no_search_results')}
  - else
    #companies_list
      = render 'companies_list', companies: @companies,
                                 search_params: @search_params,
                                 addresses_select_list: @addresses_select_list,
                                 language: @locale
