%header.entry-header
  - unless current_user.try(:admin)
    %h1.entry-title= t('.title')
  - if current_user.try(:admin)
    %h1.entry-title= t('.admin_title')
.post-title-divider
  %span
.entry-content
  - unless current_user.try(:admin)
    %p
      %strong
        #{t('info.under_construction')}
    %p
      #{t('.h_companies_listed_below')}
      #{t('.how_to_search')}

  %table
    %thead
      %tr
        %th= t('.category')
        %th= t('.name')
        %th= t('.region_land')
        - if current_user.try(:admin)
          %th= t('.company_number')
          %th
          %th

    %tbody
      - @companies.each do |company|
        - if company_complete? company
          %tr.company
            %td= list_categories company
            %td= link_to company.name, company
            %td= company.region
            - if current_user.try(:admin)
              %td= company.company_number
              %td= link_to "#{t('edit')}", edit_company_path(company)
              %td= link_to "#{t('delete')}", company, method: :delete, data: { :confirm => "#{t('.confirm_are_you_sure')}" }
  %br
