- content_for :head_content do
  -# FIXME set the @id to the SHF page for the company or the company's web page?
  = Adapter::CompanyToSchemaOrganization.new(@company).as_target.to_json_ld.html_safe


%div{ id: "#{unique_css_id(@company)}",
      class: "#{item_view_class(@company, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= @company.name
    .post-title-divider
    %span

    - if @company.categories
      .categories
        = render 'business_categories/as_list',
          categories_names: @company.categories_names

  .entry-content
    .row
      != @company.description
    %hr

    .row
      .col-md-5
        = field_or_none t('.name'),@company.name, tag_options: {class: 'hidden', id: 'location-text'}

        - if current_user.admin?
          = field_or_none t('.org_nr'), @company.company_number, tag_options: {class: 'company-number'}

        = field_or_none t('.phone_number'), @company.phone_number, tag_options: {class: 'phone-number'}

        = field_or_none t('.email'), mail_to(@company.email), tag_options: {class: 'email'}

        = field_or_none t('.website'), link_to(@company.website, sanitize(full_uri(@company)), target: '_blank'), tag_options: {class: 'website'}

        - if payment_visible_for_user?(current_user, @company)                                              |

          = render partial: 'branding_payment_status', locals: { company: @company }

      .col-md-7
        - if @company.any_visible_addresses?
          = render partial: 'map_companies',
                   locals: { markers: location_and_markers_for([@company],
                   link_name: false )}

    - user_can_edit = policy(@company).update?

    = render 'company_members', company: @company

    = render 'company_addresses', company: @company, user_can_edit: user_can_edit

    .col-md-12
      - if ! @company.dinkurs_company_id.blank? && ! @company.show_dinkurs_events && user_can_edit

        .dinkurs-show-not
          = t('events.show_not')

      - elsif @company.show_dinkurs_events && ! @company.dinkurs_company_id.blank?

        - if user_can_edit

          = button_to "#{t('.dinkurs_fetch_events')}",
                      fetch_from_dinkurs_company_path(@company),
                      remote: true,
                      class: 'dinkurs-fetch-button pull-right',
                      form_class: 'dinkurs-fetch-events',
                      data: { disable_with: "#{t('.dinkurs_fetching')}" }

        = render 'events/teaser_list', events: @events, company: @company,
                                       items_count: @items_count

    .row.center.item-nav-buttons#item-nav-buttons

      - if user_can_edit

        = link_to "#{t('.add_address')}",
                  new_company_address_path(@company),
                  class: 'btn btn-primary add-company-address'

        = link_to "#{t('companies.edit_company')}",
                  edit_company_path(@company), class: 'btn btn-default edit-company'

        = link_to "#{t('companies.all_companies')}",
                  companies_path, class: 'btn btn-default all-companies'

      - if current_user.admin?
        = link_to "#{t('.delete')}", @company, method: :delete,
                  class:'btn btn-danger delete-company',
                  data: { confirm: "#{t('.confirm_are_you_sure')}" }

= render 'edit_branding_modal', company: @company
