- content_for :head_content do
  = Adapters::CompanyToSchemaLocalBusiness.new(@company, url: company_url(@company)).as_target.to_ld_json.html_safe


%div{ id: "#{unique_css_id(@company)}",
      class: "#{item_view_class(@company, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= @company.name
  .entry-content.container
    .row
      .col
        - if @company.categories
          .categories
            = render 'business_categories/as_list',
              categories: @company.business_categories.distinct
        - if payment_visible_for_user?(current_user, @company)
          %hr
            .branding-license
              -# FIXME I18n
              %h3.section-title H-markt License
              .section
                = render partial: 'branding_term_status', locals: { company: @company }
          %hr

    .row
      .col.company-story
        != @company.description
      %hr

    .row
      .col-md-5
        = field_or_none t('.name'),@company.name, tag_options: {class: 'hidden', id: 'location-text'}

        - if current_user.admin?
          = field_or_none t('.org_nr'), @company.company_number, tag_options: {class: 'company-number'}

        = field_or_none t('.phone_number'), @company.phone_number, tag_options: {class: 'phone-number'}

        = field_or_none t('.email'), mail_to(@company.email), tag_options: {class: 'email'}

        = field_or_none t('.website'), link_to(@company.website, sanitize(full_uri(@company)), target: '_blank'), tag_options: {class: 'website'}

        .social-media
          = icon_link(@company.facebook_url, 'facebook')
          = icon_link(@company.instagram_url, 'instagram')
          = icon_link(@company.youtube_url, 'youtube-square')


      .col-md-7
        - if @company.any_visible_addresses?
          = render partial: 'map_companies',
                   locals: { markers: location_and_markers_for([@company],
                   link_name: false )}

    - user_can_edit = policy(@company).update?

    = render 'company_members', company: @company

    = render 'company_addresses', company: @company, user_can_edit: user_can_edit

    - if user_can_edit

      = link_to "#{t('.add_address')}",
                new_company_address_path(@company),
                class: 'btn btn-info btn-sm ml-2 add-company-address'


    .row
      .col
        - if ! @company.dinkurs_company_id.blank? && ! @company.show_dinkurs_events && user_can_edit

          .dinkurs-show-not
            = t('events.show_not')

        - elsif @company.show_dinkurs_events && ! @company.dinkurs_company_id.blank?

          - if user_can_edit

            = button_to "#{t('.dinkurs_fetch_events')}",
                        fetch_from_dinkurs_company_path(@company),
                        remote: true,
                        class: 'btn btn-info btn-sm dinkurs-fetch-button float-right',
                        form_class: 'dinkurs-fetch-events',
                        data: { disable_with: "#{t('.dinkurs_fetching')}" }

          = render 'events/teaser_list', events: @events, company: @company,
                                         items_count: @items_count


    %hr
    .text-center
      - if user_can_edit
        = link_to "#{t('companies.edit_company')}",
                  edit_company_path(@company), class: 'btn btn-secondary btn-sm edit-company'

      - if current_user.admin?
        = link_to "#{t('.delete')}", @company, method: :delete,
                  class:'btn btn-danger btn-sm delete-company',
                  data: { confirm: "#{t('.confirm_are_you_sure')}" }

= render('edit_branding_modal', company: @company) if current_user.admin?
