%div{ :id => "#{unique_css_id(@company)}", class: "#{item_view_class(@company, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= @company.name
    .post-title-divider
    %span

    - unless @categories.nil?
      .categories
        = render 'business_categories/as_list', categories: @categories

  .entry-content

    .row
      .col-md-5
        = field_or_none t('.name'), @company.name, tag_options: {class: 'hidden', id: 'location-text'}

        - if current_user && current_user.admin?
          = field_or_none t('.org_nr'), @company.company_number, tag_options: {class: 'company-number'}

        = field_or_none t('.phone_number'), @company.phone_number, tag_options: {class: 'phone-number'}

        = field_or_none t('.email'), mail_to(@company.email), tag_options: {class: 'email'}

        = field_or_none t('.website'), sanitize(link_to(@company.website, full_uri(@company), attributes: %w(href) ), target: '_blank'), tag_options: {class: 'website'}


        .address
          %h2 #{t('.address')}:
          = field_or_none t('.street'), @company.main_address.street_address, tag_options: {class: 'street'}

          = field_or_none t('.post_code'), @company.main_address.post_code, tag_options: {class: 'post-code'}

          = field_or_none t('.city'), @company.main_address.city, tag_options: {class: 'city'}

          = field_or_none t('.kommun'), @company.main_address.kommun&.name, tag_options: {class: 'kommun'}

          = field_or_none t('.region'), @company.main_address.region&.name, tag_options: {class: 'region'}


      .col-md-7
        = render partial: 'map_companies', locals: { markers: location_and_markers_for([@company], link_name: false )}



    .row.center.item-nav-buttons#item-nav-buttons
      - if policy(@company).update?
        = link_to "#{t('companies.edit_company')}", edit_company_path(@company), class: 'btn btn-default edit-company'
        = link_to "#{t('companies.all_companies')}", companies_path, class: 'btn btn-default all-companies'

      - if current_user.try(:admin)
        = link_to "#{t('.delete')}", @company, method: :delete, class:'btn btn-danger delete-company', data: { confirm: "#{t('.confirm_are_you_sure')}" }
