%header.entry-header
  %h1.entry-title= @company.name
  .post-title-divider
    %span
  - unless @categories.nil?
    = render 'business_categories/as_list', categories: @categories
.entry-content
  %p
    %b Namn:
    = @company.name
  %p
    %b Org nr:
    = @company.company_number
  %p
    %b Telefon:
    = @company.phone_number
  %p
    %b Företagets e-postadress:
    = mail_to @company.email
  %p
    %b Företagets webbplats:
    - uri = @company.website
    - uri = (uri =~ %r(https?://) ? uri : "http://#{uri}")
    %a{ href: uri, target: '_blank' } #{@company.website}

  %h2 Adress
  %p
    %b Gata:
    = @company.street
  %p
    %b Postnr:
    = @company.post_code
  %p
    %b Ort:
    = @company.city
  %p
    %b Verksamhetslän:
    = @company.region

  - if policy(@company).update?
    .center
      = link_to 'Redigera detta företag', edit_company_path(@company)
      \|
      = link_to 'Alla företag', companies_path
