%header.entry-header
  %h1.entry-title= @company.name
.post-title-divider
  %span
.entry-content
  - unless @categories.nil?
    = render 'business_categories/as_list', categories: @categories
  %p
    %b Name:
    = @company.name
  %p
    %b Organization Number:
    = @company.company_number
  %p
    %b Phone Number:
    = @company.phone_number
  %p
    %b Email:
    =mail_to @company.email
  %p
    %b Website:
    =link_to @company.website
  %h2 Address
  %p
    %b Street:
    = @company.street
  %p
    %b Post Code:
    = @company.post_code
  %p
    %b City:
    = @company.city
  %p
    %b Region:
    = @company.region

  - if current_user.try(:admin)
    .center
      = link_to 'Edit', edit_company_path(@company)
      \|
      = link_to 'All Companies', companies_path
