%div{ :id => "#{unique_css_id(@company)}", class: "#{item_view_class(@company, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= @company.name
    .post-title-divider
    %span

    - unless @categories.nil?
      .categories
        = render 'business_categories/as_list', categories: @categories

  .entry-content
    .row
      != @company.description
    %hr

    .row
      .col-md-5
        = field_or_none t('.name'), @company.name, tag_options: {class: 'hidden', id: 'location-text'}

        - if current_user.admin?
          = field_or_none t('.org_nr'), @company.company_number, tag_options: {class: 'company-number'}

        = field_or_none t('.phone_number'), @company.phone_number, tag_options: {class: 'phone-number'}

        = field_or_none t('.email'), mail_to(@company.email), tag_options: {class: 'email'}

        = field_or_none t('.website'), link_to(@company.website, sanitize(full_uri(@company)), target: '_blank'), tag_options: {class: 'website'}

      .col-md-7
        - if @company.addresses.visible
          = render partial: 'map_companies',
                   locals: { markers: location_and_markers_for([@company],
                   link_name: false )}

    .col-md-12.address

      - user_can_edit = policy(@company).update?

      - addresses = user_can_edit ? @company.addresses : @company.addresses.visible

      - if addresses.any?

        %table.table.table-hover
          %thead
            %tr
              %th
                = "#{t('.address')}"
                = " (#{t('.click_to_edit')})" if user_can_edit

              - if user_can_edit

                %th= t('companies.address_visibility')
                %th= t('.mailing_address')

          - addresses.includes(:kommun).order(:street_address).each do |address|
            %tbody
              %tr.address
                - if user_can_edit
                  %td
                    = link_to address.entire_address(full_visibility: true),
                              edit_company_address_path(@company.id, address.id)
                  %td
                    %span{ class: (address.visibility == 'none' ? 'maybe' : 'yes') }
                      = t("address_visibility.#{address.visibility}")
                  %td
                    = radio_button_tag('mail', '1', address.mail,
                        class: 'cb_address',
                        id: "cb_address_#{address.id}",
                        data: { remote: true,
                                url: company_address_type_path(@company.id, address.id),
                                params: 'type=mail',
                                method: :post })
                - else
                  %td
                    = address.entire_address

    .row.center.item-nav-buttons#item-nav-buttons

      - if user_can_edit

        = link_to "#{t('.add_address')}",
                  new_company_address_path(@company),
                  class: 'btn btn-primary add-company-address'

        = link_to "#{t('companies.edit_company')}",
                  edit_company_path(@company), class: 'btn btn-default edit-company'

        = link_to "#{t('companies.all_companies')}",
                  companies_path, class: 'btn btn-default all-companies'

      - if current_user.admin?
        = link_to "#{t('.delete')}", @company, method: :delete,
                  class:'btn btn-danger delete-company',
                  data: { confirm: "#{t('.confirm_are_you_sure')}" }
