%header.entry-header
  %h1.entry-title= @company.name
  .post-title-divider
    %span
  - unless @categories.nil?
    = render 'business_categories/as_list', categories: @categories
.entry-content
  %p
    %b #{t('.name')}:
    = @company.name
  - if current_user && current_user.admin?
    %p
      %b #{t('.org_nr')}:
      = @company.company_number
  %p
    %b #{t('.phone_number')}:
    = @company.phone_number
  %p
    %b #{t('.email')}:
    = mail_to @company.email
  %p
    %b #{t('.website')}:
    - uri = @company.website
    - uri = (uri =~ %r(https?://) ? uri : "http://#{uri}")
    %a{ href: uri, target: '_blank' } #{@company.website}

  %h2 #{t('.address')}:
  %p
    %b #{t('.street')}:
    = @company.street
  %p
    %b #{t('.post_code')}:
    = @company.post_code
  %p
    %b #{t('.city')}:
    = @company.city
  %p
    %b #{t('.region')}:
    = @company.region.name if @company.region

  - if current_user.try(:admin)
    = link_to "#{t('.delete')}", @company, method: :delete, class:'btn btn-danger', data: { confirm: "#{t('.confirm_are_you_sure')}" }

  - if policy(@company).update?
    .center
      = link_to "#{t('companies.edit_company')}", edit_company_path(@company)
      \|
      = link_to "#{t('companies.all_companies')}", companies_path
