- if @shf_application.waiting_for_applicant?
  = render 'reason_waiting'



#admin-change-status-buttons
  %p.header
    = "#{t('shf_applications.show.change_status')}:"


  .row
    = button_to t('shf_applications.start_review_btn'), start_review_shf_application_path(@shf_application), {class: 'btn start-review', disabled: !(@shf_application.may_start_review?)}

    = button_to t('shf_applications.accept_btn'), accept_shf_application_path(@shf_application), {class: 'btn accept', disabled: !(@shf_application.may_accept?)}

    = button_to t('shf_applications.reject_btn'), reject_shf_application_path(@shf_application), {class: 'btn reject', disabled: !(@shf_application.may_reject?)}

    = button_to t('shf_applications.ask_applicant_for_info_btn'), need_info_shf_application_path(@shf_application), {class: 'btn need-info', disabled: !(@shf_application.may_ask_applicant_for_info?)}

  .row
    = button_to t('shf_applications.cancel_waiting_for_applicant_btn'), cancel_need_info_shf_application_path(@shf_application), {class: 'btn cancel-need-info', disabled: !(@shf_application.may_cancel_waiting_for_applicant?)}
