-# Local vars -
  shf_application: a member's SHF application
  business_category: the BusinessCategory instance

%tr.business_category.category-display-row{ id: "subcategories-display-row-#{business_category.id}" }

  %td.name= business_category.name

  %td.name
    - subcategories = shf_application.business_subcategories(business_category)
    - if subcategories
      = subcategories.map(&:name).join(', ')
    - else
      = t('none')

  %td.edit
    %span.float-right
      - if business_category.has_children?
        = link_to edit_icon,
                  get_edit_row_business_category_shf_application_path(shf_application,
                                      business_category_id: business_category.id),
                  class: 'edit-subcategories-button',
                  remote: true
      - else
        - mail_to_admin = mail_to(ENV['SHF_MEMBERSHIP_EMAIL'], t('administrator'),
                                  subject: t('.subcategories_for',
                                             category_name: business_category.name))
        = link_to(question_icon, 'javascript:;',
                  data: { toggle: 'popover',
                          trigger: 'focus',
                          html: true,
                          content: t('.category_no_subcategories_html',
                                     mailto_admin: mail_to_admin) })
