%div{ :id => "#{unique_css_id(@shf_application)}", class: "#{item_view_class(@shf_application, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= t('.title')
  .post-title-divider
    %span
  .entry-content
    .wpcf7
      .instructions= t('shf_applications.new.instructions_html')

      = render partial: 'membership_number', locals: { user: @shf_application.user }

      = form_for @shf_application, html: {multipart: true}, url: shf_application_path do |f|

        != model_errors_helper(@shf_application)

        = render partial: 'shf_application_fields',
                 locals: { f: f, user: @shf_application.user, company:  @company }

        = render 'application/required_fields'
        = f.submit t('.submit_button_label')

= render partial: 'companies/company_create_modal', locals: { company: @new_company }
