%div{ :id => "#{unique_css_id(@shf_application)}", class: "#{item_view_class(@shf_application, controller.action_name)}" }

  %header.entry-header
    %h1.entry-title= t('.title')
  .entry-content
    .instructions= t('shf_applications.new.instructions_html')

    = render partial: 'membership_number', locals: { user: @shf_application.user }

    = form_for @shf_application do |f|

      != model_errors_helper(@shf_application)

      = render partial: 'shf_application_fields',
               locals: { f: f, user: @shf_application.user,
                         company_numbers:  @company_numbers }

<<<<<<< HEAD
      = render 'application/required_fields'
      = f.submit t('.submit_button_label'), class: 'btn btn-primary mb-2 form-control'
=======
        = render 'application/required_fields'

        = f.submit t('.submit_button_label'), disabled: true, class: 'app-submit'

        .submit-button-explain.strong
          = t('.submit_button_explain')
>>>>>>> 9e657928beef7b874c9d90d6615bf6a5a8a51341

= render partial: 'companies/company_create_modal', locals: { company: @new_company }
