%header.entry-header
  %h1.entry-title= t('.title')
.entry-content
  .row{ style: 'margin-bottom: 30px;' }
    .col-6
      = render partial: 'administration_panel' if @current_user.admin?

    .col-6
      = show_hide_element('button', t('toggle.application_search_form.hide'),
       'toggle_search_form', 'application_search_form', css_class: 'btn btn-success pull-right')


  .clearfix

  .panel.panel-default.search-form#application_search_form
    = render 'search_form'

  - if @shf_applications.empty?
    %strong
      #{t('.no_search_results')}
  - else
    = render partial: 'shf_applications_list'


:javascript
  $( document ).ready( function () {

    // add an event listener to the 'click' action on the toggle_search_form element
    document.getElementById('toggle_search_form').addEventListener("click", Utility.toggle_i18n_str);
  });
