%header.entry-header
  = content_title(t('.title'), user: current_user)
  .post-title-divider
    %span
.entry-content
  - if current_user.member?

    %h2
      = t('.member.title')
      = current_user.first_name

    = render partial: 'check_payment_status'

    %hr

    - unless current_user.membership_expire_date.past?

      %p= t('.member.using_the_logo')
      %p= t('.member.upload_this_image')

      = image_tag('medlem.png')
      %p
      %p= t('.member.using_the_h_mark')
      %p= t('.member.ffs')

  - elsif current_user.has_shf_application?

    - if current_user.shf_application.accepted?

      = render partial: 'check_payment_status'

    - elsif ! current_user.shf_application.rejected?

      = render partial: 'waiting_for_approval'

    -# Here, do we want to tell the user that their app is rejected?  Perhaps reapply?

  - else

    %h2= t('.user.title')
    %p= t('.user.how_to_apply')
    %p= link_to t('menus.nav.users.apply_for_membership'), new_shf_application_path, class: 'btn btn-light'
    %p= t('.user.once_it_is_submitted')
    %p= t('.user.when_we_decide')
