%div{ :id => "#{@shf_application.class.name.downcase}", class: "new-item #{@shf_application.class.name.downcase}" }

  %header.entry-header
    %h1.entry-title= t('.title')
  .entry-content
    .instructions= t('shf_applications.new.instructions_html')

    = form_for @shf_application, html: {multipart: true}, url: shf_applications_path do |f|

      != model_errors_helper(@shf_application)

      = render partial: 'shf_application_fields',
               locals: { f: f, company_numbers: @company_numbers }

      = render 'application/required_fields'

      %p.submit-button-explain.strong.field-instruction= t('.submit_button_explain')
      = f.submit t('.submit_button_label'), disabled: true, class: 'btn btn-warning mb-2 form-control app-submit'

    
= render partial: 'companies/company_create_modal', locals: { company: @new_company }
