%header.entry-header
  %h1.entry-title= t('edit') + ' ' + t('.title')
  .post-title-divider
  %span

.entry-content

  = form_for(@app_configuration, url: admin_only_app_configuration_path,
                                 html: { method: :put }) do |f|

    .row
      .column

        %p.email_enabled_setting
          %span.standard-label
            = t('.admin_email_new_apps_enabled')
            ?
          = f.check_box :email_admin_new_app_received_enabled

    %hr

    .row
      .col-sm-6
        = render 'image_edit', app_config: @app_configuration,
                               image_title: 'chair_signature',
                               f: f
      .col-sm-6
        = render 'image_edit', app_config: @app_configuration,
                               image_title: 'shf_logo',
                               f: f
    .row
      %hr
      .col-sm-6
        = render 'image_edit', app_config: @app_configuration,
                               image_title: 'h_brand_logo',
                               f: f
      .col-sm-6
        = render 'image_edit', app_config: @app_configuration,
                               image_title: 'sweden_dog_trainers',
                               f: f

  = render  'show_action_buttons', app_config: @app_configuration