%header.entry-header
  %h1.entry-title= t('.title')
.entry-content
  .row
    .col-sm-10
      %p.email_enabled_setting
        %span.standard-label
          = t('.admin_email_new_apps_enabled')
          ?
        = yes_no_span( @app_configuration.email_admin_new_app_received_enabled )

  %hr

  .row
    .col-sm-6
      = render 'image_show', app_config: @app_configuration,
                             image_title: 'chair_signature'

    .col-sm-6
      = render 'image_show', app_config: @app_configuration,
                             image_title: 'shf_logo'
  .row
    .col-sm-6
      = render 'image_show', app_config: @app_configuration,
                               image_title: 'h_brand_logo'

    .col-sm-6
      = render 'image_show', app_config: @app_configuration,
                               image_title: 'sweden_dog_trainers'

  = render  'show_action_buttons', app_config: @app_configuration
