%header.entry-header
  %h1.entry-title= t('.title', company_name: @company.name)
  - if @address.mail
    = t('.cannot_delete_address')
    %span.i.fas.fa-info-circle{ title: "#{t('.delete_address_tooltip')}",
                                         data: {toggle: 'tooltip'} }

.entry-content
  = render partial: 'form',
           locals: { address: @address, method: :put,
                     url: company_address_path(@company.id, @address.id) }
  .center
    = link_to "#{t('companies.view_company')}", @company
    - unless @address.mail
      \|
      = link_to "#{t('.delete')}", company_address_delete_path(@company, @address),
                method: :delete,
                data: { confirm: "#{t('.delete_confirm')}" },
                class: 'btn btn-xs btn-danger'
