%header.entry-header
  %h1.entry-title= t('.title', company_name: @company.name)

.entry-content
  = render partial: 'form',
           locals: { address: @address, method: :put,
                     url: company_address_path(@company.id, @address.id) }
  %hr
  .text-center
    = link_to "#{t('companies.view_company')}", @company, class: 'btn btn-sm btn-light'
    - if @address.mail
      = t('.cannot_delete_address')
      = fas_tooltip(t('.delete_address_tooltip'))
    - unless @address.mail
      = link_to "#{t('.delete')}", company_address_delete_path(@company, @address),
                method: :delete,
                data: { confirm: "#{t('.delete_confirm')}" },
                class: 'btn btn-sm btn-danger'
