= nav_menu_dropdown_li(text: nav_menu_login_title(current_user), link: '#',
  li_classes: ['login', 'login-user-name']) do
  %ul.dropdown-menu
    = nav_menu_item_li(text: t('devise.registrations.edit.title'), link: edit_user_registration_path)
    = nav_menu_item_li(text: t('menus.nav.users.your_account'), link: user_path(current_user))
    = nav_menu_item_li(text: t('menus.nav.users.uploaded_files'),
      link: user_uploaded_files_path(current_user)) unless current_user.admin?

    - if current_user.admin?
      = render 'nav-menus/login_admin_items'

    = nav_menu_item_li(text: t('devise.sessions.destroy.log_out'), link: destroy_user_session_path,
      link_options: { method: :delete })
