= nav_menu_dropdown_li(text: t('menus.nav.visitor.association'), link: https_shf_main_site_association_url) do
  %ul.dropdown-menu
    = nav_menu_item_li(text: t('menus.nav.visitor.brochure'), link: https_shf_main_site_assn_brochure_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.board'), link: https_shf_main_assn_site_board_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.membership'), link: https_shf_main_site_assn_membership_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.board_statues'), link: https_shf_main_site_assn_statues_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.glossary'), link: https_shf_main_site_assn_glossary_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.history'), link: https_shf_main_site_assn_history_url)
