= nav_menu_dropdown_li(text: t('menus.nav.visitor.dog_owners.submenu_title'), link: https_shf_main_site_for_dog_owners_url) do
  %ul.dropdown-menu
    = nav_menu_item_li(text: t('menus.nav.visitor.dog_owners.about_us'), link: https_shf_main_site_dog_owners_about_us_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.dog_owners.h_label'), link: https_shf_main_site_dog_owners_h_brand_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.dog_owners.consumer_contact'), link: https_shf_main_site_dog_owners_consumer_contact_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.dog_owners.become_supporter'), link: https_shf_main_site_dog_owners_become_support_member_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.dog_owners.being_dog_owners'), link: https_shf_main_site_dog_owner_being_dog_owner_url)
