= nav_menu_dropdown_li(text: t('menus.nav.visitor.entrepreneurs.submenu_title'), link: https_shf_main_site_for_companies_url) do
  %ul.dropdown-menu
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.about_us'), link: https_shf_main_site_about_us_for_companies_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.be_h_labeled'), link: https_shf_main_site_companies_become_h_licensed_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.sign_up'), link: https_shf_main_site_companies_sign_up_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.educational_reqs'), link: https_shf_main_site_companies_educational_reqs_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.membership_commitment'), link: https_shf_main_site_companies_membership_commitment_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.ethical_guide'), link: https_shf_main_site_companies_ethics_guide_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.quality_standards'), link: https_shf_main_site_companies_quality_control_companies_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.gdpr'), link: https_shf_main_site_companies_gdpr_url)
    = nav_menu_item_li(text: t('menus.nav.visitor.entrepreneurs.to_become_a_dog_business'), link: https_shf_main_site_companies_to_become_dog_co_url)
