-# This partial expects these locals:
  master_checklist [MasterChecklist] - the MasterChecklist used for the buttons
  show_view_button [Boolean] - should the 'view' button be displayed?  (if not, will try to display the edit button)

-# set reasonable default
- show_view = local_assigns.fetch(:show_view_button, false)

%hr
  .row
    .col
      %p= "In use? #{master_checklist.is_in_use}"

  .row
    .col.action-buttons
      .text-center
        - if show_view
          = link_to t('.view_list_item'), master_checklist, class: 'btn btn-sm btn-light'
        - else
          - if master_checklist.can_be_changed?
            = link_to t('.edit_list_item'),
                      edit_admin_only_master_checklist_path(master_checklist), class: 'btn btn-primary btn-sm edit-master-checklist-item'

        - if master_checklist.is_in_use
          = link_to t('.mark_no_longer_used_clone'), '#', class: 'btn btn-sm btn-primary'

        = render partial: 'delete_button_if_applicable', locals: { master_checklist: master_checklist }

        %p= link_to t('.all_list_items'), admin_only_master_checklists_path, class: 'btn btn-sm btn-light'
