-# This partial expects the following locals:
-#   num_total - total number of companies
-#   num_paid - the number of recent h-branding fee payments
-#   those_not_paid - those that have not paid but need to
-#
-# TODO - finish refactoring this + _m_branding.html.haml partial: finish abstracting common things, parameterize
%h3.section-title
  = t('admin_only.dashboard.tabs.payments_h_branding.title')

- percent = (num_paid.fdiv(num_total)) * 100

.progress
  .progress-bar{ progress_bar_html_styles(percent) }
    #{percent.to_i}% of all companies have paid H-branding
%p= styled_total(num_paid,'h-branding-fees are paid')
%p= styled_total(num_total, 'companies in the system')
%p= styled_total(those_not_paid.count, 'companies have not paid')
%p
  %a.btn.btn-success{ 'aria-controls': 'list-unpaid-companies', 'aria-expanded': 'false', 'data-toggle': 'collapse', href: '#list-unpaid-companies', role: 'button' }
    View unpaid companies
.collapse#list-unpaid-companies
  .card.card-body
    - those_not_paid.each do | not_paid |
      = link_to not_paid.name, (company_path(not_paid))
