.section
  %h3.section-title
    H-branding fee Payments
    - h_paid = Company.branding_licensed
    - c_total = @data_gatherer.total_companies
    - h_unpaid = @data_gatherer.companies_branding_not_paid
    - h_percent = h_paid.count.fdiv(c_total)
    - h_percent =  h_percent * 100
  .progress
    .progress-bar(aria-valuemax='100' aria-valuemin='0' aria-valuenow="#{h_percent.to_i}" role='progressbar' style="width:#{h_percent.to_i}%")
      ="#{h_percent.to_i}% of all companies have paid H-branding"
  %p= styled_total(h_paid.count,'h-branding-fees are paid')
  %p= styled_total(c_total, 'companies in the system')
  %p= styled_total(h_unpaid.count, 'companies have not paid')
  %p
    %a.btn.btn-primary(aria-controls='listCompanies' aria-expanded='false' data-toggle='collapse' href= '#listCompanies' role= 'button')
      List unpaid companies
  #listCompanies.collapse
    .card.card-body
      - h_unpaid.each do |c|
        = link_to c.name, (company_path(c))
        = '|'
