-# This partial expects the following locals:
-#   num_total - total number of members
-#   num_paid - number of  total membership fee payments
-#   those_not_paid - those that have not paid but need to
-#
-# TODO - finish refactoring this + _h_branding.html.haml partial: finish abstracting common things, parameterize
%h3.section-title
  = t('admin_only.dashboard.tabs.payments_memberships.title')

- percent = (num_paid.fdiv(num_total)) * 100

.progress
  .progress-bar{ progress_bar_html_styles(percent) }
    #{percent.to_i}% of all members have paid

%p= styled_total(num_paid,'members have paid')
%p= styled_total(num_total, 'members in the system')
%p= styled_total(those_not_paid.count, 'users have not paid. (Either they have been approved and not paid, or membership has lapsed.')

%p
  %a.btn.btn-success{ 'aria-controls': 'list-unpaid-members', 'aria-expanded': 'false', 'data-toggle': 'collapse', href: '#list-unpaid-members', role: 'button' }
    View unpaid users
.collapse#list-unpaid-members
  .card.card-body
    - those_not_paid.each do | not_paid |
      = link_to not_paid.full_name, (user_path(not_paid))
