-# This partial expects the following locals:
-#   payment - the Payment to display as a row in a table

:ruby
  if payment.payment_type == Payment::PAYMENT_TYPE_BRANDING
    co_name = payment.company&.name
    co_num = payment.company&.company_number
    amount = SHF_BRANDING_FEE / 100
  else
    co_name = ''
    co_num = ''
    amount = SHF_MEMBER_FEE / 100
  end

%tr.payment
  %td.user-full-name= payment.user&.full_name
  %td.user-email= payment.user&.email
  %td.amount= amount
  %td.company-name= co_name
  %td.company-number= co_num
  %td.type= payment.payment_type
  %td.term-start-date= payment.start_date
  %td.term-end-date= payment.expire_date
  %td.created-at= payment.created_at
  %td.status= payment.status
  %td.payment-id= payment.payment_processor_id
