#recent-activity
  .row
    .col-md-11
      %h3.section-title= t('admin_only.dashboard.recent_activity_section_title', recent_num_days: @recent_num_days)

  .recent-activity
    .row
      .col-md-11
        %h4= t("activerecord.models.shf_application.other")
        %p.detail-line= @recent_app_state_counts.map{|k, v| "#{k}: #{v}"}.join(', ')

    .row
      .col-md-11
        %h4.total-payments-weekly
          %span.total= @recent_member_fee_payments.count + @recent_branding_fee_payments.count
          =t('admin_only.dashboard.successful_payments')

        %p.detail-line= t('admin_only.dashboard.member_fee_payments', number_payments: @recent_member_fee_payments.count)
        %p.detail-line= t('admin_only.dashboard.branding_fee_payments', number_payments: @recent_branding_fee_payments.count)
