.row
  .col-md-11
    %h4
      = styled_total(@data_gatherer.recent_app_state_counts[:new], "#{t('new')} #{t('activerecord.models.shf_application.other')}")

    %p.detail-line=  (@data_gatherer.recent_app_state_counts.reject{|k,_v| k== :new}).map{|k, v| "#{k}: #{v}"}.join(', ')

.row
  .col-md-11
    %h4.total-payments-weekly
      = styled_total(@data_gatherer.recent_member_fee_payments.count + @data_gatherer.recent_branding_fee_payments.count,
                     t('admin_only.dashboard.successful_payments'))

    %p.detail-line= t('admin_only.dashboard.member_fee_payments', number_payments: @data_gatherer.recent_member_fee_payments.count)
    %p.detail-line= t('admin_only.dashboard.branding_fee_payments', number_payments: @data_gatherer.recent_branding_fee_payments.count)
