%header.entry-header
  %h1.entry-title= t('admin_only.dashboard.title')
.post-title-divider
  %span

.entry-content.admin
  .row
    .col-md-11
      %ul.nav.nav-tabs
        %li
          %a(data-toggle='tab' href='#n1') Current
        %li
          %a(data-toggle='tab' href='#n2') Activity
        %li
          %a(data-toggle='tab' href='#n3') Members
        %li
          %a(data-toggle='tab' href='#n4') Membership
        %li
          %a(data-toggle='tab' href='#n5') H-branding
        %li
          %a(data-toggle='tab' href='#n6') Users
      .tab-content
        #n1.tab-pane.fade.in.active
          -# smell:  passing so many vars to a view -> should encapsulate in a class
          .section
            = render 'current_items_to_note', apps_without_uploads: @data_gatherer.apps_without_uploads,
            apps_approved_member_fee_not_paid: @data_gatherer.apps_approved_member_fee_not_paid,
             companies_branding_not_paid: @data_gatherer.companies_branding_not_paid,
             companies_info_not_completed: @data_gatherer.companies_info_not_completed

        #n2.tab-pane.fade
          -# smell:  passing so many vars to a view -> should encapsulate in a class
          .section
            = render 'recent_activity', recent_num_days: @data_gatherer.timeframe,
                                        recent_apps: @data_gatherer.recent_shf_apps,
                                        recent_app_state_counts: @data_gatherer.recent_app_state_counts,
                                        recent_payments: @data_gatherer.recent_payments,
                                        recent_member_fee_payments: @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_MEMBER.to_sym],
                                        recent_branding_fee_payments: @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_BRANDING.to_sym]

        #n3.tab-pane.fade
          .section.membership-totals-current
            %h3.total-members
              = styled_total(@data_gatherer.total_members, t('admin_only.dashboard.total_members'))

            %p.detail-line
              = @data_gatherer.shf_apps_state_counts.map{|k, v| "#{k}: #{v}"}.join(', ')
        -# .membership-time-graph
            %h5 (simple line graph of membership over time)
            %h5 (simple bar graph showing memberships by state)
        #n4.tab-pane.fade
          .section
            %h3
              - m_paid = @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_MEMBER.to_sym].count
              - m_total = @data_gatherer.total_members

              %p= styled_total(m_paid,'members have paid')
              %p= styled_total(m_total, 'members in the system')
              %p= styled_total(@data_gatherer.apps_approved_member_fee_not_paid.count, 'members have not paid')
              - m_percent = m_paid.fdiv(m_total)
              - m_percent =  m_percent * 100
              .progress
                .progress-bar(aria-valuemax='100' aria-valuemin='0' aria-valuenow="#{m_percent.to_i}" role='progressbar' style="width:#{m_percent.to_i}%")
                  ="#{m_percent.to_i}% of all members have paid"

        #n5.tab-pane.fade
          .section
            %h3
              - h_paid = @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_BRANDING.to_sym]
              - c_total = @data_gatherer.total_companies

              %p= styled_total(h_paid.count,'h-branding-fees are paid')
              - h_paid.each do |c|
                = c.company.name
                = c.company.branding_license?
                = '|'
              %p= styled_total(c_total, 'companies in the system')
              - Company.all.each do |c|
                = c.name
                = c.branding_license?
                = '|'
              %p= styled_total(@data_gatherer.companies_branding_not_paid.count, 'companies have not paid')
              %p= @data_gatherer.companies_branding_not_paid
              -# h_percent = h_paid.fdiv(c_total)
              -# h_percent =  h_percent * 100
              -#.progress
                -#.progress-bar(aria-valuemax='100' aria-valuemin='0' aria-valuenow="#{h_percent.to_i}" role='progressbar' style="width:#{h_percent.to_i}%")
                  =#"#{h_percent.to_i}% of all companies have paid H-branding"
        #n6.tab-pane.fade
          .section
            %h3 Menu 6
            %p Some content in menu 6.

