-# FIXME - don't load all of the tabs at once!  make each tab a (routed) page and only load it when requested
- i18n_scope = 'admin_only.dashboard'
%header.entry-header
  = content_title(t('title', scope: i18n_scope), user: current_user)
.post-title-divider
  %span

.entry-content.admin.dashboard
  .row
    .col-md-11
      %ul.nav.nav-tabs#dashboard-tabs{ role: 'tablist' }

        %li.nav-item.current
          - tab_title = t('tabs.current.tab-title', scope: i18n_scope)
          %a#tab-current{ nav_tab_html_styles('#n1', tab_title, is_active: true) }= tab_title

        %li.nav-item.activity
          - tab_title = t('tabs.activity.tab-title', scope: i18n_scope)
          %a#tab-activity{ nav_tab_html_styles('#n2', tab_title) }= tab_title


        %li.nav-item.members
          - tab_title = t('tabs.members.tab-title', scope: i18n_scope)
          %a#tab-members{ nav_tab_html_styles('#n3', tab_title) }= tab_title

        %li.nav-item.applications
          - tab_title = t('tabs.applications.tab-title', scope: i18n_scope)
          %a#tab-applications{ nav_tab_html_styles('#n4', tab_title) }= tab_title

        %li.nav-item.users
          - tab_title = t('tabs.users.tab-title', scope: i18n_scope)
          %a#tab-users{ nav_tab_html_styles('#n5', tab_title) }= tab_title


        %li.nav-item.payments
          - tab_title = t('tabs.payments.tab-title', scope: i18n_scope)
          -# <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
          %a#tab-payments{ nav_tab_html_styles('#n6', tab_title) }= tab_title


        %li.nav-item.payments-membership
          - tab_title = t('tabs.payments_membership.tab-title', scope: i18n_scope)
          %a#tab-payments-membershp{ nav_tab_html_styles('#n7', tab_title) }= tab_title


        %li.nav-item.payments-h-branding
          - tab_title = t('tabs.payments_h_branding.tab-title', scope: i18n_scope)
          %a#tab-payments-h-branding{ nav_tab_html_styles('#n8', tab_title) }= tab_title


        %li.nav-item.xhr-example
          - tab_title = 'XHR example'
          %a#tab-xhr-example{ nav_tab_html_styles('#n9', tab_title) }= tab_title


      .tab-content#nav-tab-content

        .tab-pane.fade#n1{ role: "tabpanel", 'aria-labelledby': "tab-current" }
          -# smell:  passing so many vars to a view -> should encapsulate in a class
          .section
            = render 'current_items_to_note', apps_without_uploads: @data_gatherer.apps_without_uploads,
            apps_approved_member_fee_not_paid: @data_gatherer.apps_approved_member_fee_not_paid,
             companies_branding_not_paid: @data_gatherer.companies_branding_not_paid,
             companies_info_not_completed: @data_gatherer.companies_info_not_completed

        .tab-pane.fade#n2{ role: "tabpanel", 'aria-labelledby': "tab-activity" }
          -# smell:  passing so many vars to a view -> should encapsulate in a class
          .section
            = render 'recent_activity', recent_num_days: @data_gatherer.timeframe,
                                        recent_apps: @data_gatherer.recent_shf_apps,
                                        recent_app_state_counts: @data_gatherer.recent_app_state_counts,
                                        recent_payments: @data_gatherer.recent_payments,
                                        recent_member_fee_payments: @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_MEMBER.to_sym],
                                        recent_branding_fee_payments: @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_BRANDING.to_sym]

        .tab-pane.fade#n3{ role: 'tabpanel', 'aria-labelledby': 'tab-members' }
          .section.membership-totals-current
            %h3.total-members
              = styled_total(@data_gatherer.total_members, t('tabs.members.total_members', scope: i18n_scope))


        .tab-pane.fade#n4{ role: 'tabpanel', 'aria-labelledby': 'tab-applications' }
          .section
            %h3.section-title= t("tabs.applications.title", scope: i18n_scope)
            %p= @data_gatherer.app_states_translated.map{|k, v| "#{k}: #{v}"}.join(', ')
            = pie_chart @data_gatherer.app_states_translated
            = line_chart ShfApplication.group_by_day(:created_at).count


        .tab-pane.fade#n5{ role: 'tabpanel', 'aria-labelledby': 'tab-users' }
          .section
            = render 'admin_only/dashboard/users',
             users_by_membership_summary: @data_gatherer.translated_users.map{|k, v| "#{k}: #{v}"}.join(', '),
             users_grouped_by_membership: @data_gatherer.translated_users,
             users_grouped_by_day_created: User.all.group_by_day(:created_at).count,
             not_members: User.all.reject(&:member?)


        .tab-pane.fade#n6{ role: 'tabpanel', 'aria-labelledby': 'tab-payments' }
          .section
            = render partial:  'payments',
                    locals: { title: t('admin_only.dashboard.tabs.payments.title'),
                      payments_search: @payments_search,
                      payments: @payments }


        .tab-pane.fade#n7{ role: 'tabpanel', 'aria-labelledby': 'tab-payments-membership' }
          .section
            = render partial: 'payors_payment_status',
              locals: { title: t('admin_only.dashboard.tabs.payments_membership.title'),
                payor_display_method: :full_name,
                num_total: @data_gatherer.total_members,
                num_paid: @data_gatherer.recent_payments[Payment::PAYMENT_TYPE_MEMBER.to_sym].count,
                are_paid_text: 'members have paid',
                total_number_text: 'members in the system',
                have_not_paid_text: 'users have not paid   (Either they have been approved and not paid, or membership has lapsed.)',
                those_not_paid_list_title: 'View unpaid users',
                those_not_paid: @data_gatherer.apps_approved_member_fee_not_paid }


        .tab-pane.fade#n8{ role: 'tabpanel', 'aria-labelledby': 'tab-payments-h-branding' }
          .section
            = render partial: 'payors_payment_status',
                locals: { title: t('admin_only.dashboard.tabs.payments_h_branding.title'),
                  payor_display_method: :name,
                  num_total: @data_gatherer.total_companies,
                  num_paid: Company.branding_licensed.count,
                  are_paid_text: 'H-branding-fees are paid',
                  total_number_text: 'companies in the system',
                  have_not_paid_text: 'companies have not paid their H-mark license fee',
                  those_not_paid_list_title: 'View unpaid companies',
                  those_not_paid: @data_gatherer.companies_branding_not_paid }



        .tab-pane.fade#n9{ role: "tabpanel", 'aria-labelledby': "tab-xhr-example" }
          .section
            = render 'xhr_example'
