#admin-dashboard
  %header.entry-header
    %h1.entry-title= t('admin_only.dashboard.title')
  .post-title-divider
    %span

  .entry-content

    #summary
      %h2 Summary:
      .row
        .col-md-11
          .membership-totals-current
            %h3.total-members
              %span.total= @total_members
              = t('admin_only.dashboard.total_members')
            %p.detail-line
              = @app_state_counts.map{|k, v| "#{k}: #{v}"}.join(', ')
            -# .membership-time-graph
              %h5 (simple line graph of membership over time)
              %h5 (simple bar graph showing memberships by state)

      = render 'recent_activity'

      = render 'current_items_to_note'


    #details
      .row
        -# %p Tabs: Membership Applications, Companies, etc.
        %p (TBD: details shown down here)
