%footer.container-fluid.site-footer#footer{ role: 'contentinfo' }

  = link_to t('footer.gdpr_and_privacy'), "#{t('shf_home_url')}/#{t('footer.gdpr_and_privacy_url')}"
  &nbsp;-&nbsp;
  = link_to t('footer.purchase_terms'), "#{t('shf_home_url')}/#{t('footer.purchase_terms_url')}"
