%footer#colophon.container-fluid.site-footer{role: 'contentinfo'}
  .container-fluid.site-info
    .container
      © 2017 Theme by Theme Feeder. All Rights Reserved.
  .footer-social
    %a.facebook{href: 'http://www.facebook.com/sverigeshundforetagare', target: '_blank'}
      = icon('facebook')
    %a.twitter{href: 'http://www.twitter.com/sverigeshundftg', target: '_blank'}
      = icon('twitter')
    %a.instagram{href: 'http://www.instagram.com/sverigeshundforetagare', target: '_blank'}
      = icon('instagram')
    %a.linkedin{href: 'http://www.linkedin.com/sverigeshundforetagare', target: '_blank'}
      = icon('linkedin')
    %a.youtube{href: 'http://www.youtube.com/sverigeshundforetagare', target: '_blank'}
      = icon('youtube')