.scroll-to-top
  %a{ href: '#' }
    = icon('angle-up')
.container-fluid.hfeed.site
  %header.site-header#masthead{role: 'banner'}
    %a.skip-link.screen-reader-text{href: '#content'} Skip to content
    / main navigation
    %nav.main-navigation.fixed-nav#site-navigation{role: 'navigation'}
      .nav-wrapper
        %a.menu-toggle{href: '#'}
          %span.bars
            %span.bar.bar-1
            %span.bar.bar-2
            %span.bar.bar-3
        -# Visitor navigation
        - unless current_user.is_member_or_admin?
          .menu#menu-menu-1-container
            = render 'navigation_visitor'

        - if current_user.is_member? && ! current_user.admin?
          .menu#menu-menu-2-container
            %ul.menu#menu-menu-2
              %li.menu-item
                = link_to t('menus.nav.shf_main_site'), 'http://sverigeshundforetagare.se/'

              %li.menu-item
                = link_to t('menus.nav.members.shf_companies'), root_path

              = render 'navigation_member_pages'

              - if current_user.has_company?
                - member_company = current_user.membership_applications.accepted.last.company
                %li.menu-item.menu-item-has-children
                  = link_to t('menus.nav.members.manage_company.submenu_title'),
                            company_path(member_company)
                  %ul.sub-menu
                    %li.menu-item
                      = link_to t('menus.nav.members.manage_company.view_company'),
                                company_path(member_company)
                    %li.menu-item
                      = link_to t('menus.nav.members.manage_company.edit_company'),
                                edit_company_path(member_company)

              = render 'navigation_edit_my_application', membership_app: current_user.membership_applications.last

        - else
          - if current_user.has_membership_application?
            = render 'navigation_edit_my_application', membership_app: current_user.membership_applications.last
          - else
            %li.menu-item
              = link_to t('menus.nav.users.apply_for_membership'), new_membership_application_path

        - if current_user.admin?
          .menu#menu-menu-3-container
            %ul.menu#menu-menu-3
              = render 'navigation_member_pages'

              = render 'navigation_admin'

        = render 'login_nav'
