%ul.navbar-nav.ml-auto#menu-menu-1
  %li
    = link_to t('menus.nav.home'), https_shf_main_site_home_url, class: 'nav-link'



  %li.dropdown
    %a.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: https_shf_main_site_association_url }
      = t('menus.nav.visitor.association')
    %ul.dropdown-menu
      %li
        = link_to t('menus.nav.visitor.brochure'), https_shf_main_site_brochure_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.board'), https_shf_main_site_board_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.our_policy'), https_shf_main_site_board_our_policy_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.board_statues'), https_shf_main_site_board_statues_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.history'), https_shf_main_site_history_url, class: 'nav-link'


  %li.dropdown
    %a.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: https_shf_main_site_for_dog_owners_url }
      = t('menus.nav.visitor.dog_owners.submenu_title')
    %ul.dropdown-menu
      %li
        = link_to t('menus.nav.visitor.dog_owners.about_us'), https_shf_main_site_dog_owners_about_us_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.dog_owners.h_label'), https_shf_main_site_dog_owners_h_brand_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.dog_owners.knowledge_bank'), https_shf_main_site_dog_owners_knowledgebank_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.dog_owners.are_you_interested'), https_shf_main_site_dog_owners_contact_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.dog_owners.become_supporter'), https_shf_main_site_dog_owners_become_support_member_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.dog_owners.being_dog_owners'), https_shf_main_site_dog_owner_being_dog_owner_url, class: 'nav-link'

  %li.dropdown
    %a.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: https_shf_main_site_for_companies_url }
      = t('menus.nav.visitor.entrepreneurs.submenu_title')
    %ul.dropdown-menu
      %li
        = link_to t('menus.nav.visitor.entrepreneurs.about_us'), https_shf_main_site_about_us_for_companies_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.entrepreneurs.sign_up'), https_shf_main_site_companies_sign_up_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.entrepreneurs.be_h_labeled'), https_shf_main_site_companies_become_h_licensed_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.entrepreneurs.member_criteria'), https_shf_main_site_companies_member_criteria_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.entrepreneurs.member_benefits'), https_shf_main_site_companies_member_benefits_url, class: 'nav-link'
        %li
        = link_to t('menus.nav.visitor.entrepreneurs.gdpr'), https_shf_main_site_companies_gdpr_url, class: 'nav-link'
      %li
        = link_to t('menus.nav.visitor.entrepreneurs.quality_standards'), https_shf_main_site_companies_quality_control_companies_url, class: 'nav-link'

      %li.dropdown
        %a.nav-link.dropdown-toggle{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#" }
          = t('menus.nav.visitor.entrepreneurs.knowledge_bank.submenu_title')

        %ul.dropdown-menu
          %li
            = link_to t('menus.nav.visitor.entrepreneurs.knowledge_bank.blogs'), https_shf_main_site_companies_knowledgebank_blogs_url, class: 'nav-link'
          %li
            = link_to t('menus.nav.visitor.entrepreneurs.knowledge_bank.books'), https_shf_main_site_companies_knowledgebank_books_url, class: 'nav-link'
          %li
            = link_to t('menus.nav.visitor.entrepreneurs.knowledge_bank.research'), https_shf_main_site_companies_knowledgebank_research_url, class: 'nav-link'
          %li
            = link_to t('menus.nav.visitor.entrepreneurs.knowledge_bank.pod'), https_shf_main_site_companies_knowledgebank_podcasts_url, class: 'nav-link'
          %li
            = link_to t('menus.nav.visitor.entrepreneurs.knowledge_bank.popular_science'), https_shf_main_site_companies_knowledgebank_popsci_url, class: 'nav-link'
          %li
            = link_to t('menus.nav.visitor.entrepreneurs.knowledge_bank.video'), https_shf_main_site_companies_knowledgebank_videos_url, class: 'nav-link'
  %li
    = link_to t('menus.nav.visitor.contact'), https_shf_main_site_contact_url, class: 'nav-link'
  %li.current-menu-item
    = link_to t('menus.nav.visitor.find_dog_businesses'), root_path, class: 'nav-link'