%li.menu-item
  = link_to t('menus.nav.admin.shf_main_site'), 'http://sverigeshundforetagare.se/'

%li.menu-item
  = link_to t('menus.nav.admin.manage_applications'), membership_applications_path

%li.menu-item.menu-item-has-children
  = link_to t('menus.nav.admin.categories.submenu_title'), business_categories_path
  %ul.sub-menu
    %li.menu-item
      = link_to t('menus.nav.admin.categories.list_categories'), business_categories_path
    %li.menu-item
      = link_to t('menus.nav.admin.categories.new_category'), new_business_category_path

%li.menu-item.menu-item-has-children
  = link_to t('menus.nav.admin.companies.submenu_title'), companies_path
  %ul.sub-menu
    %li.menu-item
      = link_to t('menus.nav.admin.companies.list_companies'), companies_path
    %li.menu-item
      = link_to t('menus.nav.admin.companies.new_company'), new_company_path

%li.menu-item
  = link_to t('menus.nav.admin.users.list_users'), users_path

%li.menu-item.menu-item-has-children
  = link_to t('menus.nav.admin.member_app_waiting_reasons.submenu_title'), admin_only_member_app_waiting_reasons_path
  %ul.sub-menu
    %li.menu-item
      = link_to t('menus.nav.admin.member_app_waiting_reasons.list_member_app_waiting_reasons'), admin_only_member_app_waiting_reasons_path
    %li.menu-item
      = link_to t('menus.nav.admin.member_app_waiting_reasons.new_member_app_waiting_reasons'), new_admin_only_member_app_waiting_reason_path

