%footer.post-footer
  .post-social.no-gutter.col-xs-12
    .social-share
      %a.share-facebook{href: "http://www.facebook.com/sharer.php?u=#{request.url}", target: '_blank'}
        = icon('fab', 'facebook-f')
      %a.share-twitter{href: "http://twitter.com/home/?status=#{request.url}", target: '_blank'}
        = icon('fab', 'twitter')
      %a.share-googleplus{href: "https://plus.google.com/share?url=#{request.url}", target: '_blank'}
        = icon('fab', 'google-plus')
      %a.share-linkedin{href: "http://www.linkedin.com/shareArticle?mini=true&title=Sveriges%20Hundf%C3%B6retagare&url=#{request.url}", target: '_blank'}
        = icon('fab', 'linkedin')
      %a.share-mail{href: "mailto:?subject=Sveriges%20Hundf%C3%B6retagare&body=#{request.url}"}
        = icon('far', 'envelope')
