= form_tag({ controller: 'shf_documents', action: 'contents_update', page: @page },
           { method: 'patch' }) do

  = label_tag :title, t('.member_page_title')
  = text_field_tag :title, @title

  = label_tag :contents, t('.member_page_contents')
  = cktext_area_tag :contents, @contents

  .actions
    = submit_tag t('submit')
