- content_for :javascript_for_view do
  = javascript_include_tag Ckeditor.cdn_url

%header.entry-header
  %h1.entry-title= t('.page_title', document_title: @page)

.entry-content
  = render 'contents_form'

%br
  .center
    = link_to t('cancel'), contents_show_path(@page),
        class: 'btn btn-default shf-document-view'

    = link_to t('menus.nav.members.member_pages'), member_pages_path,
        class: 'btn btn-default shf-document-view'
