- provide :signoff do
  = render 'application_mailer/signoff'

- i18n_scope = 'mailers.shf_application_mailer.acknowledge_received'
= render layout: 'layouts/mail_from_membership' do
  %p= t('message_text', scope: i18n_scope)

  %hr
  %p= t('your_submitted_info', scope: i18n_scope)
  .shf-application-info
    %p
      = shf_app_to_html(@shf_application)
  %hr

  = render 'mailers_shared/newapp_login_upload_files_instruction', email: @recipient_email
