- provide :signoff do
  = render 'application_mailer/signoff'

- i18n_scope = 'mailers.shf_application_mailer.additional_qs_for_biz_cats.message_text'
= render layout: 'layouts/mail_from_membership' do
  %p= t('youve_add_categories', scope: i18n_scope)
  = render 'additional_questions_for_categories', categories: @added_biz_categories, i18n_scope: i18n_scope
  %hr
  = render 'your_submitted_info', i18n_scope: i18n_scope, shf_app: @shf_app
  %hr
