- provide :signoff do
  = render 'application_mailer/signoff'

- message_scope = 'mailers.shf_application_mailer.app_approved.message_text'

= render layout: 'layouts/mail_from_membership' do
  %p
    = I18n.t('app_approved_and_next', scope: message_scope)

  = render 'mailers_shared/how_to_pay_membership', user: @shf_app.user

  - unless @branding_fee_paid
    %p= I18n.t('h_branding_not_paid', scope: message_scope)

  %p= I18n.t('thanks', scope: message_scope)
