!!!
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes', name: 'viewport' }/
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Medlemmar i Sveriges Hundföretagare
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'style.css', media: 'all'
    = stylesheet_link_tag 'custom.css', media: 'all'
    = stylesheet_link_tag 'custom-membership-application-state', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.page.page-template.page-template-page-sidebar-none
    = render 'top'
    = render 'flash'
    #wrap
      #content.site-content.container
        .page-gutter.col-xs-12
          %section#primary.content-area
            %main#main.site-main{role: 'main'}
              %article
                = yield
                = render 'page_footer'
    = render 'bottom'
