!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title SHF-Members
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'style.css', media: 'all'
    = stylesheet_link_tag 'custom.css', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.page.page-template.page-template-page-sidebar-none
    = render 'partials/top'
    = render 'partials/flash'
    #wrap
      #content.site-content.container
        .page-gutter.col-xs-12
          %section#primary.content-area
            %main#main.site-main{role: 'main'}
              %article
                = yield
                = render 'partials/page_footer'
    = render 'partials/bottom'
