!!!
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes', name: 'viewport' }/
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Medlemmar i Sveriges Hundföretagare
    = csrf_meta_tags
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/' + |
                          'select2/4.0.2/css/select2.min.css'         |
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'style.css', media: 'all'
    = stylesheet_link_tag 'custom.css', media: 'all'
    = stylesheet_link_tag 'custom-membership-application-state', media: 'all'
    = stylesheet_link_tag 'users', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.full.min.js'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/sv.js'

    - if Rails.env.test?
      -#
        Disable jQuery animations in the test environment to
        increase speed of the test suite and fix intermittent integration test failures.

        Without this, we were seeing frequent intermittent test failures with
        jquery functions that invovle animations, especially with show() and hide().
        @see https://github.com/guidance-guarantee-programme/pension_guidance/pull/610

      :javascript
        $.fx.off = true;



  %body.page.page-template.page-template-page-sidebar-none
    // This embedded script sets the locale for I18n on the client side.
    // It needs to be in the body since only the body will be re-rendered
    // by default when turbolinks is enabled.
    %script{ type: 'text/javascript' }
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";

    = render 'top'
    = render 'flash'
    #wrap
      #content.site-content.container
        .page-gutter.col-xs-12
          %section#primary.content-area
            %main#main.site-main{role: 'main'}
              %article
                = yield
                = render 'page_footer'
    = render 'bottom'
