%html
  %head
    = stylesheet_link_tag 'application-mailer', media: 'all'

  %body

    .email{ class: action_name }

      -# this formatting is made to match what MailChimp sends
      .mailchimp

        %table.body-table{ align: 'center', cellspacing: '0', cellpadding: '0' }
          %tbody
            %tr
              %td.body-cell{ align: 'center', valign: 'top' }

                %table{ cellspacing: '0', cellpadding: '0', border: 0, width: "100%" }
                  %tr
                    %td.template-preheader{ align: 'center', valign: 'top' }
                      = render 'application_mailer/mailchimpstyle_preheader'

                  %tr
                    %td.template-header{ align: 'center', valign: 'top' }
                      = render 'application_mailer/mailchimpstyle_header'


                  %tr
                    %td.template-body{ align: 'center', valign: 'top' }

                      %table.template-container{ cellspacing: "0", cellpadding: "0", align: "center" }
                        %tbody
                          %tr
                            %td.body-container{ valign: 'top' }

                              %table.text-block{ cellspacing: "0", cellpadding: "0" }
                                %tbody.text-block-outer
                                  %tr
                                    %td.text-block-inner{ valign: "top" }
                                      %table.text-content-container{ cellspacing: "0", cellpadding:"0", align: 'left' }
                                        %tbody
                                          %tr
                                            %td.text-content{ valign: "top" }

                                              .greeting
                                                %h2= t('application_mailer.greeting', greeting_name: @greeting_name) if @greeting_name

                                              = yield

                                              = yield :signoff

                                              = render 'application_mailer/mail_footer'


                              %table.divider-block{ cellspacing: '0', cellpadding: '0' }
                                %tbody
                                  %tr
                                    %td



                              %table.follow-block{ cellspacing: "0", cellpadding: "0" }
                                %tbody.follow-block-outer
                                  %tr
                                    %td.follow-block-inner{ align: "center", valign: "top" }

                                      %table.follow-content-container{ cellspacing: "0", cellpadding: "0" }
                                        %tbody
                                          %tr
                                            %td

                                              %table.follow-content{ cellspacing: '0', cellpadding: '0' }
                                                %tbody
                                                  %tr
                                                    %td{ align: "center", valign: "top" }

                                                      %table{ cellspacing: '0', cellpadding: '0', align: "center" }
                                                        %tbody
                                                          %tr
                                                            %td{ align: "center", valign: "top" }
                                                              -# this is the partial for each item
                                                              =# render 'mailchipstyle_follow_item.html.haml'


                  %tr
                    %td.template-footer{ align: 'center', valign: 'top' }
                      = render 'application_mailer/mailchimpstyle_footer'
